@theme static {
  --theme: 'light';
  
  /* ===== TEXT ===== */
  --text-color-default: theme(colors.neutral.900);
  --text-color-accent-lime: theme(colors.lime.800);
  --text-color-accent-lime-bolder: theme(colors.lime.900);
  --text-color-accent-red: theme(colors.red.800);
  --text-color-accent-red-bolder: theme(colors.red.900);
  --text-color-accent-orange: theme(colors.orange.800);
  --text-color-accent-orange-bolder: theme(colors.orange.900);
  --text-color-accent-yellow: theme(colors.yellow.800);
  --text-color-accent-yellow-bolder: theme(colors.yellow.900);
  --text-color-accent-green: theme(colors.green.800);
  --text-color-accent-green-bolder: theme(colors.green.900);
  --text-color-accent-teal: theme(colors.teal.800);
  --text-color-accent-teal-bolder: theme(colors.teal.900);
  --text-color-accent-blue: theme(colors.blue.800);
  --text-color-accent-blue-bolder: theme(colors.blue.900);
  --text-color-accent-violet: theme(colors.violet.800);
  --text-color-accent-violet-bolder: theme(colors.violet.900);
  --text-color-accent-purple: theme(colors.purple.800);
  --text-color-accent-purple-bolder: theme(colors.purple.900);
  --text-color-accent-magenta: theme(colors.fuchsia.800);
  --text-color-accent-magenta-bolder: theme(colors.fuchsia.900);
  --text-color-accent-gray: theme(colors.gray.800);
  --text-color-accent-gray-bolder: theme(colors.gray.900);
  --text-color-disabled: theme(colors.neutral.400);
  --text-color-inverse: theme(colors.neutral.50);
  --text-color-primary: theme(colors.violet.700);
  --text-color-selected: theme(colors.violet.700);
  --text-color-brand: theme(colors.violet.700);
  --text-color-destructive: theme(colors.red.800);
  --text-color-warning: theme(colors.orange.800);
  --text-color-warning-inverse: theme(colors.neutral.900);
  --text-color-success: theme(colors.lime.800);
  --text-color-discovery: theme(colors.purple.800);
  --text-color-info: theme(colors.blue.800);
  --text-color-subtlest: theme(colors.neutral.600);
  --text-color-subtle: theme(colors.neutral.700);

  /* ===== LINK ===== */
  --link-color: theme(colors.teal.700);
  --link-color-pressed: theme(colors.teal.800);
  --link-color-visited: theme(colors.neutral.700);
  --link-color-visited-pressed: theme(colors.neutral.800);

  /* ===== ICON ===== */
  --icon-color: theme(colors.neutral.950);
  --icon-color-accent-lime: theme(colors.lime.600);
  --icon-color-accent-red: theme(colors.red.700);
  --icon-color-accent-orange: theme(colors.orange.600);
  --icon-color-accent-yellow: theme(colors.yellow.600);
  --icon-color-accent-green: theme(colors.green.600);
  --icon-color-accent-teal: theme(colors.teal.600);
  --icon-color-accent-blue: theme(colors.blue.600);
  --icon-color-accent-purple: theme(colors.purple.600);
  --icon-color-accent-fuchsia: theme(colors.fuchsia.600);
  --icon-color-accent-gray: theme(colors.neutral.600);
  --icon-color-disabled: theme(colors.neutral.400);
  --icon-color-inverse: theme(colors.white);
  --icon-color-selected: theme(colors.violet.700);
  --icon-color-brand: theme(colors.violet.700);
  --icon-color-danger: theme(colors.red.700);
  --icon-color-warning: theme(colors.orange.600);
  --icon-color-warning-inverse: theme(colors.neutral.950);
  --icon-color-success: theme(colors.lime.600);
  --icon-color-discovery: theme(colors.purple.600);
  --icon-color-info: theme(colors.blue.600);
  --icon-color-subtlest: theme(colors.neutral.700);
  --icon-color-subtle: theme(colors.neutral.800);

  /* ===== BORDER ===== */
  --border-color-default: theme(colors.neutral.200);
  --border-color-accent-lime: theme(colors.lime.600);
  --border-color-accent-red: theme(colors.red.600);
  --border-color-accent-orange: theme(colors.orange.600);
  --border-color-accent-yellow: theme(colors.yellow.600);
  --border-color-accent-green: theme(colors.green.600);
  --border-color-accent-teal: theme(colors.teal.600);
  --border-color-accent-blue: theme(colors.blue.600);
  --border-color-accent-purple: theme(colors.purple.600);
  --border-color-accent-fuchsia: theme(colors.fuchsia.600);
  --border-color-accent-gray: theme(colors.neutral.600);
  --border-color-disabled: theme(colors.neutral.300);
  --border-color-focused: theme(colors.blue.500);
  --border-color-input: theme(colors.neutral.500);
  --border-color-inverse: theme(colors.neutral.50);
  --border-color-selected: theme(colors.violet.700);
  --border-color-brand: theme(colors.violet.700);
  --border-color-danger: theme(colors.red.600);
  --border-color-warning: theme(colors.orange.600);
  --border-color-success: theme(colors.lime.600);
  --border-color-discovery: theme(colors.purple.600);
  --border-color-info: theme(colors.blue.600);
  --border-color-bold: theme(colors.neutral.600);

  /* ===== BACKGROUND ===== */
  --background-color-accent-lime-subtlest: theme(colors.lime.100);
  --background-color-accent-lime-subtlest-hovered: theme(colors.lime.200);
  --background-color-accent-lime-subtlest-pressed: theme(colors.lime.300);
  --background-color-accent-lime-subtler: theme(colors.lime.200);
  --background-color-accent-lime-subtler-hovered: theme(colors.lime.300);
  --background-color-accent-lime-subtler-pressed: theme(colors.lime.300);
  --background-color-accent-lime-subtle: theme(colors.lime.400);
  --background-color-accent-lime-subtle-hovered: theme(colors.lime.300);
  --background-color-accent-lime-subtle-pressed: theme(colors.lime.300);
  --background-color-accent-lime-bolder: theme(colors.lime.700);
  --background-color-accent-lime-bolder-hovered: theme(colors.lime.800);
  --background-color-accent-lime-bolder-pressed: theme(colors.lime.900);

  --background-color-accent-red-subtlest: theme(colors.red.100);
  --background-color-accent-red-subtlest-hovered: theme(colors.red.200);
  --background-color-accent-red-subtlest-pressed: theme(colors.red.300);
  --background-color-accent-red-subtler: theme(colors.red.200);
  --background-color-accent-red-subtler-hovered: theme(colors.red.300);
  --background-color-accent-red-subtler-pressed: theme(colors.red.300);
  --background-color-accent-red-subtle: theme(colors.red.400);
  --background-color-accent-red-subtle-hovered: theme(colors.red.300);
  --background-color-accent-red-subtle-pressed: theme(colors.red.300);
  --background-color-accent-red-bolder: theme(colors.red.700);
  --background-color-accent-red-bolder-hovered: theme(colors.red.800);
  --background-color-accent-red-bolder-pressed: theme(colors.red.900);

  --background-color-accent-orange-subtlest: theme(colors.orange.100);
  --background-color-accent-orange-subtlest-hovered: theme(colors.orange.200);
  --background-color-accent-orange-subtlest-pressed: theme(colors.orange.300);
  --background-color-accent-orange-subtler: theme(colors.orange.200);
  --background-color-accent-orange-subtler-hovered: theme(colors.orange.300);
  --background-color-accent-orange-subtler-pressed: theme(colors.orange.300);
  --background-color-accent-orange-subtle: theme(colors.orange.400);
  --background-color-accent-orange-subtle-hovered: theme(colors.orange.300);
  --background-color-accent-orange-subtle-pressed: theme(colors.orange.300);
  --background-color-accent-orange-bolder: theme(colors.orange.700);
  --background-color-accent-orange-bolder-hovered: theme(colors.orange.800);
  --background-color-accent-orange-bolder-pressed: theme(colors.orange.900);

  --background-color-accent-yellow-subtlest: theme(colors.yellow.100);
  --background-color-accent-yellow-subtlest-hovered: theme(colors.yellow.200);
  --background-color-accent-yellow-subtlest-pressed: theme(colors.yellow.300);
  --background-color-accent-yellow-subtler: theme(colors.yellow.200);
  --background-color-accent-yellow-subtler-hovered: theme(colors.yellow.300);
  --background-color-accent-yellow-subtler-pressed: theme(colors.yellow.300);
  --background-color-accent-yellow-subtle: theme(colors.yellow.300);
  --background-color-accent-yellow-subtle-hovered: theme(colors.yellow.400);
  --background-color-accent-yellow-subtle-pressed: theme(colors.yellow.300);
  --background-color-accent-yellow-bolder: theme(colors.yellow.700);
  --background-color-accent-yellow-bolder-hovered: theme(colors.yellow.800);
  --background-color-accent-yellow-bolder-pressed: theme(colors.yellow.900);

  --background-color-accent-green-subtlest: theme(colors.green.100);
  --background-color-accent-green-subtlest-hovered: theme(colors.green.200);
  --background-color-accent-green-subtlest-pressed: theme(colors.green.300);
  --background-color-accent-green-subtler: theme(colors.green.200);
  --background-color-accent-green-subtler-hovered: theme(colors.green.300);
  --background-color-accent-green-subtler-pressed: theme(colors.green.300);
  --background-color-accent-green-subtle: theme(colors.green.400);
  --background-color-accent-green-subtle-hovered: theme(colors.green.300);
  --background-color-accent-green-subtle-pressed: theme(colors.green.300);
  --background-color-accent-green-bolder: theme(colors.green.700);
  --background-color-accent-green-bolder-hovered: theme(colors.green.800);
  --background-color-accent-green-bolder-pressed: theme(colors.green.900);

  --background-color-accent-teal-subtlest: theme(colors.teal.100);
  --background-color-accent-teal-subtlest-hovered: theme(colors.teal.200);
  --background-color-accent-teal-subtlest-pressed: theme(colors.teal.300);
  --background-color-accent-teal-subtler: theme(colors.teal.200);
  --background-color-accent-teal-subtler-hovered: theme(colors.teal.300);
  --background-color-accent-teal-subtler-pressed: theme(colors.teal.300);
  --background-color-accent-teal-subtle: theme(colors.teal.400);
  --background-color-accent-teal-subtle-hovered: theme(colors.teal.300);
  --background-color-accent-teal-subtle-pressed: theme(colors.teal.300);
  --background-color-accent-teal-bolder: theme(colors.teal.700);
  --background-color-accent-teal-bolder-hovered: theme(colors.teal.800);
  --background-color-accent-teal-bolder-pressed: theme(colors.teal.900);

  --background-color-accent-blue-subtlest: theme(colors.blue.100);
  --background-color-accent-blue-subtlest-hovered: theme(colors.blue.200);
  --background-color-accent-blue-subtlest-pressed: theme(colors.blue.300);
  --background-color-accent-blue-subtler: theme(colors.blue.200);
  --background-color-accent-blue-subtler-hovered: theme(colors.blue.300);
  --background-color-accent-blue-subtler-pressed: theme(colors.blue.300);
  --background-color-accent-blue-subtle: theme(colors.blue.400);
  --background-color-accent-blue-subtle-hovered: theme(colors.blue.300);
  --background-color-accent-blue-subtle-pressed: theme(colors.blue.300);
  --background-color-accent-blue-bolder: theme(colors.blue.700);
  --background-color-accent-blue-bolder-hovered: theme(colors.blue.800);
  --background-color-accent-blue-bolder-pressed: theme(colors.blue.900);

  --background-color-accent-purple-subtlest: theme(colors.purple.100);
  --background-color-accent-purple-subtlest-hovered: theme(colors.purple.200);
  --background-color-accent-purple-subtlest-pressed: theme(colors.purple.300);
  --background-color-accent-purple-subtler: theme(colors.purple.200);
  --background-color-accent-purple-subtler-hovered: theme(colors.purple.300);
  --background-color-accent-purple-subtler-pressed: theme(colors.purple.300);
  --background-color-accent-purple-subtle: theme(colors.purple.400);
  --background-color-accent-purple-subtle-hovered: theme(colors.purple.300);
  --background-color-accent-purple-subtle-pressed: theme(colors.purple.300);
  --background-color-accent-purple-bolder: theme(colors.purple.700);
  --background-color-accent-purple-bolder-hovered: theme(colors.purple.800);
  --background-color-accent-purple-bolder-pressed: theme(colors.purple.900);

  --background-color-accent-magenta-subtlest: theme(colors.fuchsia.100);
  --background-color-accent-magenta-subtlest-hovered: theme(colors.fuchsia.200);
  --background-color-accent-magenta-subtlest-pressed: theme(colors.fuchsia.300);
  --background-color-accent-magenta-subtler: theme(colors.fuchsia.200);
  --background-color-accent-magenta-subtler-hovered: theme(colors.fuchsia.300);
  --background-color-accent-magenta-subtler-pressed: theme(colors.fuchsia.300);
  --background-color-accent-magenta-subtle: theme(colors.fuchsia.400);
  --background-color-accent-magenta-subtle-hovered: theme(colors.fuchsia.300);
  --background-color-accent-magenta-subtle-pressed: theme(colors.fuchsia.300);
  --background-color-accent-magenta-bolder: theme(colors.fuchsia.700);
  --background-color-accent-magenta-bolder-hovered: theme(colors.fuchsia.800);
  --background-color-accent-magenta-bolder-pressed: theme(colors.fuchsia.900);

  --background-color-accent-gray-subtlest: theme(colors.neutral.200);
  --background-color-accent-gray-subtlest-hovered: theme(colors.neutral.300);
  --background-color-accent-gray-subtlest-pressed: theme(colors.neutral.400);
  --background-color-accent-gray-subtler: theme(colors.neutral.300);
  --background-color-accent-gray-subtler-hovered: theme(colors.neutral.400);
  --background-color-accent-gray-subtler-pressed: theme(colors.neutral.500);
  --background-color-accent-gray-subtle: theme(colors.neutral.500);
  --background-color-accent-gray-subtle-hovered: theme(colors.neutral.400);
  --background-color-accent-gray-subtle-pressed: theme(colors.neutral.300);
  --background-color-accent-gray-bolder: theme(colors.neutral.700);
  --background-color-accent-gray-bolder-hovered: theme(colors.neutral.800);
  --background-color-accent-gray-bolder-pressed: theme(colors.neutral.900);

  --background-color-disabled: theme(colors.neutral.100);
  --background-color-input: theme(colors.white);
  --background-color-input-hovered: theme(colors.neutral.100);
  --background-color-input-pressed: theme(colors.white);
  --background-color-inverse-subtle: #00000029;
  --background-color-inverse-subtle-hovered: #0000003D;
  --background-color-inverse-subtle-pressed: #00000052;
  --background-color-neutral: theme(colors.neutral.100);
  --background-color-neutral-hovered: theme(colors.neutral.200);
  --background-color-neutral-pressed: theme(colors.neutral.300);
  --background-color-neutral-subtle: transparent;
  --background-color-neutral-subtle-hovered: theme(colors.neutral.200);
  --background-color-neutral-subtle-pressed: theme(colors.neutral.300);
  --background-color-neutral-bold: theme(colors.neutral.950);
  --background-color-neutral-bold-hovered: theme(colors.neutral.900);
  --background-color-neutral-bold-pressed: theme(colors.neutral.800);
  
  --background-color-selected: theme(colors.violet.100);
  --background-color-selected-hovered: theme(colors.violet.200);
  --background-color-selected-pressed: theme(colors.violet.300);
  --background-color-selected-bold: theme(colors.violet.700);
  --background-color-selected-bold-hovered: theme(colors.violet.800);
  --background-color-selected-bold-pressed: theme(colors.violet.900);

  --background-color-brand-subtlest: theme(colors.violet.100);
  --background-color-brand-subtlest-hovered: theme(colors.violet.200);
  --background-color-brand-subtlest-pressed: theme(colors.violet.300);
  --background-color-brand-bold: theme(colors.violet.700);
  --background-color-brand-bold-hovered: theme(colors.violet.800);
  --background-color-brand-bold-pressed: theme(colors.violet.900);
  --background-color-brand-boldest: theme(colors.violet.950);
  --background-color-brand-boldest-hovered: theme(colors.violet.900);
  --background-color-brand-boldest-pressed: theme(colors.violet.800);

  --background-color-danger: theme(colors.red.100);
  --background-color-danger-hovered: theme(colors.red.200);
  --background-color-danger-pressed: theme(colors.red.300);
  --background-color-danger-bold: theme(colors.red.700);
  --background-color-danger-bold-hovered: theme(colors.red.800);
  --background-color-danger-bold-pressed: theme(colors.red.900);

  --background-color-warning: theme(colors.orange.100);
  --background-color-warning-hovered: theme(colors.orange.200);
  --background-color-warning-pressed: theme(colors.orange.300);
  --background-color-warning-bold: theme(colors.orange.300);
  --background-color-warning-bold-hovered: theme(colors.orange.400);
  --background-color-warning-bold-pressed: theme(colors.orange.500);

  --background-color-success: theme(colors.lime.100);
  --background-color-success-hovered: theme(colors.lime.200);
  --background-color-success-pressed: theme(colors.lime.300);
  --background-color-success-bold: theme(colors.lime.700);
  --background-color-success-bold-hovered: theme(colors.lime.800);
  --background-color-success-bold-pressed: theme(colors.lime.900);

  --background-color-discovery: theme(colors.purple.100);
  --background-color-discovery-hovered: theme(colors.purple.200);
  --background-color-discovery-pressed: theme(colors.purple.300);
  --background-color-discovery-bold: theme(colors.purple.700);
  --background-color-discovery-bold-hovered: theme(colors.purple.800);
  --background-color-discovery-bold-pressed: theme(colors.purple.900);

  --background-color-info: theme(colors.blue.100);
  --background-color-info-hovered: theme(colors.blue.200);
  --background-color-info-pressed: theme(colors.blue.300);
  --background-color-info-bold: theme(colors.blue.700);
  --background-color-info-bold-hovered: theme(colors.blue.800);
  --background-color-info-bold-pressed: theme(colors.blue.900);

  /* ===== SKELETON ===== */
  --background-color-skeleton: theme(colors.neutral.200);
  --background-color-skeleton-subtle: theme(colors.neutral.100);

  /* ===== CHART ===== */
  --chart-categorical-1: theme(colors.blue.600);
  --chart-categorical-1-hovered: theme(colors.blue.700);
  --chart-categorical-2: theme(colors.lime.500);
  --chart-categorical-2-hovered: theme(colors.lime.600);
  --chart-categorical-3: theme(colors.purple.500);
  --chart-categorical-3-hovered: theme(colors.purple.600);
  --chart-categorical-4: theme(colors.orange.500);
  --chart-categorical-4-hovered: theme(colors.orange.600);
  --chart-categorical-5: theme(colors.blue.800);
  --chart-categorical-5-hovered: theme(colors.blue.900);
  --chart-categorical-6: theme(colors.purple.700);
  --chart-categorical-6-hovered: theme(colors.purple.800);
  --chart-categorical-7: theme(colors.teal.500);
  --chart-categorical-7-hovered: theme(colors.teal.600);
  --chart-categorical-8: theme(colors.orange.700);
  --chart-categorical-8-hovered: theme(colors.orange.900);

  --chart-lime-bold: theme(colors.lime.600);
  --chart-lime-bold-hovered: theme(colors.lime.700);
  --chart-lime-bolder: theme(colors.lime.700);
  --chart-lime-bolder-hovered: theme(colors.lime.800);
  --chart-lime-boldest: theme(colors.lime.800);
  --chart-lime-boldest-hovered: theme(colors.lime.900);

  --chart-neutral: theme(colors.neutral.500);
  --chart-neutral-hovered: theme(colors.neutral.600);

  --chart-red-bold: theme(colors.red.500);
  --chart-red-bold-hovered: theme(colors.red.600);
  --chart-red-bolder: theme(colors.red.600);
  --chart-red-bolder-hovered: theme(colors.red.700);
  --chart-red-boldest: theme(colors.red.800);
  --chart-red-boldest-hovered: theme(colors.red.900);

  --chart-orange-bold: theme(colors.orange.600);
  --chart-orange-bold-hovered: theme(colors.orange.700);
  --chart-orange-bolder: theme(colors.orange.700);
  --chart-orange-bolder-hovered: theme(colors.orange.800);
  --chart-orange-boldest: theme(colors.orange.900);
  --chart-orange-boldest-hovered: theme(colors.orange.950);

  --chart-yellow-bold: theme(colors.yellow.600);
  --chart-yellow-bold-hovered: theme(colors.yellow.700);
  --chart-yellow-bolder: theme(colors.yellow.700);
  --chart-yellow-bolder-hovered: theme(colors.yellow.800);
  --chart-yellow-boldest: theme(colors.yellow.800);
  --chart-yellow-boldest-hovered: theme(colors.yellow.900);

  --chart-green-bold: theme(colors.green.600);
  --chart-green-bold-hovered: theme(colors.green.700);
  --chart-green-bolder: theme(colors.green.700);
  --chart-green-bolder-hovered: theme(colors.green.800);
  --chart-green-boldest: theme(colors.green.800);
  --chart-green-boldest-hovered: theme(colors.green.900);

  --chart-teal-bold: theme(colors.teal.600);
  --chart-teal-bold-hovered: theme(colors.teal.700);
  --chart-teal-bolder: theme(colors.teal.700);
  --chart-teal-bolder-hovered: theme(colors.teal.800);
  --chart-teal-boldest: theme(colors.teal.800);
  --chart-teal-boldest-hovered: theme(colors.teal.900);

  --chart-blue-bold: theme(colors.blue.500);
  --chart-blue-bold-hovered: theme(colors.blue.600);
  --chart-blue-bolder: theme(colors.blue.600);
  --chart-blue-bolder-hovered: theme(colors.blue.700);
  --chart-blue-boldest: theme(colors.blue.800);
  --chart-blue-boldest-hovered: theme(colors.blue.900);

  --chart-purple-bold: theme(colors.purple.500);
  --chart-purple-bold-hovered: theme(colors.purple.600);
  --chart-purple-bolder: theme(colors.purple.600);
  --chart-purple-bolder-hovered: theme(colors.purple.700);
  --chart-purple-boldest: theme(colors.purple.800);
  --chart-purple-boldest-hovered: theme(colors.purple.900);

  --chart-magenta-bold: theme(colors.fuchsia.500);
  --chart-magenta-bold-hovered: theme(colors.fuchsia.600);
  --chart-magenta-bolder: theme(colors.fuchsia.600);
  --chart-magenta-bolder-hovered: theme(colors.fuchsia.700);
  --chart-magenta-boldest: theme(colors.fuchsia.800);
  --chart-magenta-boldest-hovered: theme(colors.fuchsia.900);

  --chart-gray-bold: theme(colors.neutral.500);
  --chart-gray-bold-hovered: theme(colors.neutral.600);
  --chart-gray-bolder: theme(colors.neutral.600);
  --chart-gray-bolder-hovered: theme(colors.neutral.700);
  --chart-gray-boldest: theme(colors.neutral.800);
  --chart-gray-boldest-hovered: theme(colors.neutral.900);

  --chart-brand: theme(colors.violet.600);
  --chart-brand-hovered: theme(colors.violet.700);

  --chart-danger: theme(colors.red.600);
  --chart-danger-hovered: theme(colors.red.700);
  --chart-danger-bold: theme(colors.red.800);
  --chart-danger-bold-hovered: theme(colors.red.900);

  --chart-warning: theme(colors.orange.500);
  --chart-warning-hovered: theme(colors.orange.600);
  --chart-warning-bold: theme(colors.orange.700);
  --chart-warning-bold-hovered: theme(colors.orange.800);

  --chart-success: theme(colors.lime.500);
  --chart-success-hovered: theme(colors.lime.600);
  --chart-success-bold: theme(colors.lime.700);
  --chart-success-bold-hovered: theme(colors.lime.800);

  --chart-discovery: theme(colors.purple.500);
  --chart-discovery-hovered: theme(colors.purple.600);
  --chart-discovery-bold: theme(colors.purple.800);
  --chart-discovery-bold-hovered: theme(colors.purple.700);

  --chart-info: theme(colors.blue.600);
  --chart-info-hovered: theme(colors.blue.700);
  --chart-info-bold: theme(colors.blue.800);
  --chart-info-bold-hovered: theme(colors.blue.900);

  /* ===== ELEVATION ===== */
  --background-color-elevation-surface: theme(colors.white);
  --background-color-elevation-surface-hovered: theme(colors.neutral.200);
  --background-color-elevation-surface-pressed: theme(colors.neutral.300);

  --background-color-elevation-surface-overlay: theme(colors.white);
  --background-color-elevation-surface-overlay-hovered: theme(colors.neutral.200);
  --background-color-elevation-surface-overlay-pressed: theme(colors.neutral.300);

  --background-color-elevation-surface-raised: theme(colors.white);
  --background-color-elevation-surface-raised-hovered: theme(colors.neutral.200);
  --background-color-elevation-surface-raised-pressed: theme(colors.neutral.300);

  --background-color-elevation-surface-sunken: theme(colors.neutral.100);

  /* ===== ELEVATION SHADOWS ===== */
  --shadow-elevation-overflow: 0px 0px 8px rgba(30, 31, 33, 0.16), 0px 0px 1px rgba(30, 31, 33, 0.12);
  --shadow-elevation-overflow-perimeter: #1E1F211f;
  --shadow-elevation-overflow-spread: #1E1F2129;
  
  --shadow-elevation-overlay: 0px 8px 12px rgba(30, 31, 33, 0.15), 0px 0px 1px rgba(30, 31, 33, 0.31);
  
  --shadow-elevation-raised: 0px 1px 1px rgba(30, 31, 33, 0.25), 0px 0px 1px rgba(30, 31, 33, 0.31);
}

@layer base {
  [data-theme='dark'] {
    --theme: 'dark';
    
    /* ===== TEXT ===== */
    --text-color-default: theme(colors.neutral.100);
    --text-color-accent-lime: theme(colors.lime.300);
    --text-color-accent-lime-bolder: theme(colors.lime.200);
    --text-color-accent-red: theme(colors.red.300);
    --text-color-accent-red-bolder: theme(colors.red.200);
    --text-color-accent-orange: theme(colors.orange.300);
    --text-color-accent-orange-bolder: theme(colors.orange.200);
    --text-color-accent-yellow: theme(colors.yellow.300);
    --text-color-accent-yellow-bolder: theme(colors.yellow.200);
    --text-color-accent-green: theme(colors.green.300);
    --text-color-accent-green-bolder: theme(colors.green.200);
    --text-color-accent-teal: theme(colors.teal.300);
    --text-color-accent-teal-bolder: theme(colors.teal.200);
    --text-color-accent-blue: theme(colors.blue.300);
    --text-color-accent-blue-bolder: theme(colors.blue.200);
    --text-color-accent-violet: theme(colors.violet.300);
    --text-color-accent-violet-bolder: theme(colors.violet.200);
    --text-color-accent-purple: theme(colors.purple.300);
    --text-color-accent-purple-bolder: theme(colors.purple.200);
    --text-color-accent-magenta: theme(colors.fuchsia.300);
    --text-color-accent-magenta-bolder: theme(colors.fuchsia.200);
    --text-color-accent-gray: theme(colors.gray.100);
    --text-color-accent-gray-bolder: theme(colors.gray.100);
    --text-color-disabled: theme(colors.neutral.400);
    --text-color-inverse: theme(colors.neutral.900);
    --text-color-primary: theme(colors.violet.400);
    --text-color-selected: theme(colors.violet.400);
    --text-color-brand: theme(colors.violet.400);
    --text-color-destructive: theme(colors.red.300);
    --text-color-warning: theme(colors.orange.300);
    --text-color-warning-inverse: theme(colors.neutral.100);
    --text-color-success: theme(colors.lime.300);
    --text-color-discovery: theme(colors.purple.300);
    --text-color-info: theme(colors.blue.300);
    --text-color-subtlest: theme(colors.neutral.200);
    --text-color-subtle: theme(colors.neutral.300);

    /* ===== LINK ===== */
    --link-color: theme(colors.teal.400);
    --link-color-pressed: theme(colors.teal.300);
    --link-color-visited: theme(colors.neutral.400);
    --link-color-visited-pressed: theme(colors.neutral.300);

    /* ===== ICON ===== */
    --icon-color: theme(colors.neutral.950);
    --icon-color-accent-lime: theme(colors.lime.500);
    --icon-color-accent-red: theme(colors.red.600);
    --icon-color-accent-orange: theme(colors.orange.500);
    --icon-color-accent-yellow: theme(colors.yellow.300);
    --icon-color-accent-green: theme(colors.green.500);
    --icon-color-accent-teal: theme(colors.teal.500);
    --icon-color-accent-blue: theme(colors.blue.500);
    --icon-color-accent-purple: theme(colors.purple.500);
    --icon-color-accent-fuchsia: theme(colors.fuchsia.500);
    --icon-color-accent-gray: theme(colors.neutral.600);
    --icon-color-disabled: theme(colors.neutral.400);
    --icon-color-inverse: theme(colors.neutral.100);
    --icon-color-selected: theme(colors.violet.400);
    --icon-color-brand: theme(colors.violet.400);
    --icon-color-danger: theme(colors.red.500);
    --icon-color-warning: theme(colors.orange.300);
    --icon-color-warning-inverse: theme(colors.neutral.100);
    --icon-color-success: theme(colors.lime.500);
    --icon-color-discovery: theme(colors.purple.500);
    --icon-color-info: theme(colors.blue.500);
    --icon-color-subtlest: theme(colors.neutral.700);
    --icon-color-subtle: theme(colors.neutral.800);

    /* ===== BORDER ===== */
    --border-color-default: theme(colors.neutral.600);
    --border-color-accent-lime: theme(colors.lime.500);
    --border-color-accent-red: theme(colors.red.500);
    --border-color-accent-orange: theme(colors.orange.500);
    --border-color-accent-yellow: theme(colors.yellow.500);
    --border-color-accent-green: theme(colors.green.500);
    --border-color-accent-teal: theme(colors.teal.500);
    --border-color-accent-blue: theme(colors.blue.500);
    --border-color-accent-purple: theme(colors.purple.500);
    --border-color-accent-fuchsia: theme(colors.fuchsia.500);
    --border-color-accent-gray: theme(colors.neutral.600);
    --border-color-disabled: theme(colors.neutral.700);
    --border-color-focused: theme(colors.blue.300);
    --border-color-input: theme(colors.neutral.600);
    --border-color-inverse: theme(colors.neutral.700);
    --border-color-selected: theme(colors.violet.400);
    --border-color-brand: theme(colors.violet.400);
    --border-color-danger: theme(colors.red.500);
    --border-color-warning: theme(colors.orange.500);
    --border-color-success: theme(colors.lime.500);
    --border-color-discovery: theme(colors.purple.500);
    --border-color-info: theme(colors.blue.500);
    --border-color-bold: theme(colors.neutral.600);

    /* ===== BACKGROUND ===== */
    --background-color-accent-lime-subtlest: theme(colors.lime.900);
    --background-color-accent-lime-subtlest-hovered: theme(colors.lime.800);
    --background-color-accent-lime-subtlest-pressed: theme(colors.lime.800);
    --background-color-accent-lime-subtler: theme(colors.lime.900);
    --background-color-accent-lime-subtler-hovered: theme(colors.lime.800);
    --background-color-accent-lime-subtler-pressed: theme(colors.lime.700);
    --background-color-accent-lime-subtle: theme(colors.lime.700);
    --background-color-accent-lime-subtle-hovered: theme(colors.lime.800);
    --background-color-accent-lime-subtle-pressed: theme(colors.lime.900);
    --background-color-accent-lime-bolder: theme(colors.lime.400);
    --background-color-accent-lime-bolder-hovered: theme(colors.lime.300);
    --background-color-accent-lime-bolder-pressed: theme(colors.lime.200);

    --background-color-accent-red-subtlest: theme(colors.red.950);
    --background-color-accent-red-subtlest-hovered: theme(colors.red.900);
    --background-color-accent-red-subtlest-pressed: theme(colors.red.800);
    --background-color-accent-red-subtler: theme(colors.red.900);
    --background-color-accent-red-subtler-hovered: theme(colors.red.800);
    --background-color-accent-red-subtler-pressed: theme(colors.red.800);
    --background-color-accent-red-subtle: theme(colors.red.800);
    --background-color-accent-red-subtle-hovered: theme(colors.red.800);
    --background-color-accent-red-subtle-pressed: theme(colors.red.900);
    --background-color-accent-red-bolder: theme(colors.red.400);
    --background-color-accent-red-bolder-hovered: theme(colors.red.300);
    --background-color-accent-red-bolder-pressed: theme(colors.red.200);

    --background-color-accent-orange-subtlest: theme(colors.orange.900);
    --background-color-accent-orange-subtlest-hovered: theme(colors.orange.800);
    --background-color-accent-orange-subtlest-pressed: theme(colors.orange.800);
    --background-color-accent-orange-subtler: theme(colors.orange.900);
    --background-color-accent-orange-subtler-hovered: theme(colors.orange.800);
    --background-color-accent-orange-subtler-pressed: theme(colors.orange.800);
    --background-color-accent-orange-subtle: theme(colors.orange.800);
    --background-color-accent-orange-subtle-hovered: theme(colors.orange.800);
    --background-color-accent-orange-subtle-pressed: theme(colors.orange.900);
    --background-color-accent-orange-bolder: theme(colors.orange.400);
    --background-color-accent-orange-bolder-hovered: theme(colors.orange.300);
    --background-color-accent-orange-bolder-pressed: theme(colors.orange.200);

    --background-color-accent-yellow-subtlest: theme(colors.yellow.900);
    --background-color-accent-yellow-subtlest-hovered: theme(colors.yellow.800);
    --background-color-accent-yellow-subtlest-pressed: theme(colors.yellow.800);
    --background-color-accent-yellow-subtler: theme(colors.yellow.900);
    --background-color-accent-yellow-subtler-hovered: theme(colors.yellow.800);
    --background-color-accent-yellow-subtler-pressed: theme(colors.yellow.800);
    --background-color-accent-yellow-subtle: theme(colors.yellow.800);
    --background-color-accent-yellow-subtle-hovered: theme(colors.yellow.800);
    --background-color-accent-yellow-subtle-pressed: theme(colors.yellow.900);
    --background-color-accent-yellow-bolder: theme(colors.yellow.400);
    --background-color-accent-yellow-bolder-hovered: theme(colors.yellow.300);
    --background-color-accent-yellow-bolder-pressed: theme(colors.yellow.200);

    --background-color-accent-green-subtlest: theme(colors.green.900);
    --background-color-accent-green-subtlest-hovered: theme(colors.green.800);
    --background-color-accent-green-subtlest-pressed: theme(colors.green.800);
    --background-color-accent-green-subtler: theme(colors.green.900);
    --background-color-accent-green-subtler-hovered: theme(colors.green.800);
    --background-color-accent-green-subtler-pressed: theme(colors.green.800);
    --background-color-accent-green-subtle: theme(colors.green.800);
    --background-color-accent-green-subtle-hovered: theme(colors.green.800);
    --background-color-accent-green-subtle-pressed: theme(colors.green.900);
    --background-color-accent-green-bolder: theme(colors.green.400);
    --background-color-accent-green-bolder-hovered: theme(colors.green.300);
    --background-color-accent-green-bolder-pressed: theme(colors.green.200);

    --background-color-accent-teal-subtlest: theme(colors.teal.900);
    --background-color-accent-teal-subtlest-hovered: theme(colors.teal.800);
    --background-color-accent-teal-subtlest-pressed: theme(colors.teal.800);
    --background-color-accent-teal-subtler: theme(colors.teal.900);
    --background-color-accent-teal-subtler-hovered: theme(colors.teal.800);
    --background-color-accent-teal-subtler-pressed: theme(colors.teal.800);
    --background-color-accent-teal-subtle: theme(colors.teal.800);
    --background-color-accent-teal-subtle-hovered: theme(colors.teal.800);
    --background-color-accent-teal-subtle-pressed: theme(colors.teal.900);
    --background-color-accent-teal-bolder: theme(colors.teal.400);
    --background-color-accent-teal-bolder-hovered: theme(colors.teal.300);
    --background-color-accent-teal-bolder-pressed: theme(colors.teal.200);

    --background-color-accent-blue-subtlest: theme(colors.blue.950);
    --background-color-accent-blue-subtlest-hovered: theme(colors.blue.900);
    --background-color-accent-blue-subtlest-pressed: theme(colors.blue.800);
    --background-color-accent-blue-subtler: theme(colors.blue.900);
    --background-color-accent-blue-subtler-hovered: theme(colors.blue.800);
    --background-color-accent-blue-subtler-pressed: theme(colors.blue.800);
    --background-color-accent-blue-subtle: theme(colors.blue.800);
    --background-color-accent-blue-subtle-hovered: theme(colors.blue.800);
    --background-color-accent-blue-subtle-pressed: theme(colors.blue.900);
    --background-color-accent-blue-bolder: theme(colors.blue.400);
    --background-color-accent-blue-bolder-hovered: theme(colors.blue.300);
    --background-color-accent-blue-bolder-pressed: theme(colors.blue.200);

    --background-color-accent-purple-subtlest: theme(colors.purple.900);
    --background-color-accent-purple-subtlest-hovered: theme(colors.purple.800);
    --background-color-accent-purple-subtlest-pressed: theme(colors.purple.800);
    --background-color-accent-purple-subtler: theme(colors.purple.900);
    --background-color-accent-purple-subtler-hovered: theme(colors.purple.800);
    --background-color-accent-purple-subtler-pressed: theme(colors.purple.800);
    --background-color-accent-purple-subtle: theme(colors.purple.800);
    --background-color-accent-purple-subtle-hovered: theme(colors.purple.800);
    --background-color-accent-purple-subtle-pressed: theme(colors.purple.900);
    --background-color-accent-purple-bolder: theme(colors.purple.400);
    --background-color-accent-purple-bolder-hovered: theme(colors.purple.300);
    --background-color-accent-purple-bolder-pressed: theme(colors.purple.200);

    --background-color-accent-magenta-subtlest: theme(colors.fuchsia.900);
    --background-color-accent-magenta-subtlest-hovered: theme(colors.fuchsia.800);
    --background-color-accent-magenta-subtlest-pressed: theme(colors.fuchsia.800);
    --background-color-accent-magenta-subtler: theme(colors.fuchsia.900);
    --background-color-accent-magenta-subtler-hovered: theme(colors.fuchsia.800);
    --background-color-accent-magenta-subtler-pressed: theme(colors.fuchsia.800);
    --background-color-accent-magenta-subtle: theme(colors.fuchsia.800);
    --background-color-accent-magenta-subtle-hovered: theme(colors.fuchsia.800);
    --background-color-accent-magenta-subtle-pressed: theme(colors.fuchsia.900);
    --background-color-accent-magenta-bolder: theme(colors.fuchsia.400);
    --background-color-accent-magenta-bolder-hovered: theme(colors.fuchsia.300);
    --background-color-accent-magenta-bolder-pressed: theme(colors.fuchsia.200);

    --background-color-accent-gray-subtlest: theme(colors.neutral.700);
    --background-color-accent-gray-subtlest-hovered: theme(colors.neutral.800);
    --background-color-accent-gray-subtlest-pressed: theme(colors.neutral.900);
    --background-color-accent-gray-subtler: theme(colors.neutral.600);
    --background-color-accent-gray-subtler-hovered: theme(colors.neutral.700);
    --background-color-accent-gray-subtler-pressed: theme(colors.neutral.800);
    --background-color-accent-gray-subtle: theme(colors.neutral.500);
    --background-color-accent-gray-subtle-hovered: theme(colors.neutral.600);
    --background-color-accent-gray-subtle-pressed: theme(colors.neutral.700);
    --background-color-accent-gray-bolder: theme(colors.neutral.700);
    --background-color-accent-gray-bolder-hovered: theme(colors.neutral.800);
    --background-color-accent-gray-bolder-pressed: theme(colors.neutral.900);

    --background-color-disabled: theme(colors.neutral.600);
    --background-color-input: theme(colors.neutral.700);
    --background-color-input-hovered: theme(colors.neutral.800);
    --background-color-input-pressed: theme(colors.neutral.700);
    --background-color-inverse-subtle: #FFFFFF29;
    --background-color-inverse-subtle-hovered: #FFFFFF3D;
    --background-color-inverse-subtle-pressed: #FFFFFF52;
    --background-color-neutral: theme(colors.neutral.700);
    --background-color-neutral-hovered: theme(colors.neutral.800);
    --background-color-neutral-pressed: theme(colors.neutral.900);
    --background-color-neutral-subtle: transparent;
    --background-color-neutral-subtle-hovered: theme(colors.neutral.700);
    --background-color-neutral-subtle-pressed: theme(colors.neutral.800);
    --background-color-neutral-bold: theme(colors.neutral.200);
    --background-color-neutral-bold-hovered: theme(colors.neutral.300);
    --background-color-neutral-bold-pressed: theme(colors.neutral.400);
    
    --background-color-selected: theme(colors.violet.950);
    --background-color-selected-hovered: theme(colors.violet.900);
    --background-color-selected-pressed: theme(colors.violet.800);
    --background-color-selected-bold: theme(colors.violet.400);
    --background-color-selected-bold-hovered: theme(colors.violet.300);
    --background-color-selected-bold-pressed: theme(colors.violet.200);

    --background-color-brand-subtlest: theme(colors.violet.950);
    --background-color-brand-subtlest-hovered: theme(colors.violet.900);
    --background-color-brand-subtlest-pressed: theme(colors.violet.800);
    --background-color-brand-bold: theme(colors.violet.400);
    --background-color-brand-bold-hovered: theme(colors.violet.300);
    --background-color-brand-bold-pressed: theme(colors.violet.200);
    --background-color-brand-boldest: theme(colors.violet.100);
    --background-color-brand-boldest-hovered: theme(colors.violet.200);
    --background-color-brand-boldest-pressed: theme(colors.violet.200);

    --background-color-danger: theme(colors.red.950);
    --background-color-danger-hovered: theme(colors.red.900);
    --background-color-danger-pressed: theme(colors.red.800);
    --background-color-danger-bold: theme(colors.red.400);
    --background-color-danger-bold-hovered: theme(colors.red.300);
    --background-color-danger-bold-pressed: theme(colors.red.200);

    --background-color-warning: theme(colors.orange.950);
    --background-color-warning-hovered: theme(colors.orange.900);
    --background-color-warning-pressed: theme(colors.orange.800);
    --background-color-warning-bold: theme(colors.orange.300);
    --background-color-warning-bold-hovered: theme(colors.orange.400);
    --background-color-warning-bold-pressed: theme(colors.orange.500);

    --background-color-success: theme(colors.lime.950);
    --background-color-success-hovered: theme(colors.lime.900);
    --background-color-success-pressed: theme(colors.lime.800);
    --background-color-success-bold: theme(colors.lime.400);
    --background-color-success-bold-hovered: theme(colors.lime.300);
    --background-color-success-bold-pressed: theme(colors.lime.200);

    --background-color-discovery: theme(colors.purple.950);
    --background-color-discovery-hovered: theme(colors.purple.900);
    --background-color-discovery-pressed: theme(colors.purple.800);
    --background-color-discovery-bold: theme(colors.purple.400);
    --background-color-discovery-bold-hovered: theme(colors.purple.300);
    --background-color-discovery-bold-pressed: theme(colors.purple.200);

    --background-color-info: theme(colors.blue.950);
    --background-color-info-hovered: theme(colors.blue.900);
    --background-color-info-pressed: theme(colors.blue.800);
    --background-color-info-bold: theme(colors.blue.400);
    --background-color-info-bold-hovered: theme(colors.blue.300);
    --background-color-info-bold-pressed: theme(colors.blue.200);

    /* ===== SKELETON ===== */
    --background-color-skeleton: theme(colors.neutral.700);
    --background-color-skeleton-subtle: theme(colors.neutral.600);

    /* ===== CHART ===== */
    --chart-categorical-1: theme(colors.blue.500);
    --chart-categorical-1-hovered: theme(colors.blue.400);
    --chart-categorical-2: theme(colors.lime.400);
    --chart-categorical-2-hovered: theme(colors.lime.300);
    --chart-categorical-3: theme(colors.purple.400);
    --chart-categorical-3-hovered: theme(colors.purple.300);
    --chart-categorical-4: theme(colors.orange.400);
    --chart-categorical-4-hovered: theme(colors.orange.300);
    --chart-categorical-5: theme(colors.blue.800);
    --chart-categorical-5-hovered: theme(colors.blue.700);
    --chart-categorical-6: theme(colors.purple.700);
    --chart-categorical-6-hovered: theme(colors.purple.600);
    --chart-categorical-7: theme(colors.teal.500);
    --chart-categorical-7-hovered: theme(colors.teal.400);
    --chart-categorical-8: theme(colors.orange.600);
    --chart-categorical-8-hovered: theme(colors.orange.200);

    --chart-lime-bold: theme(colors.lime.500);
    --chart-lime-bold-hovered: theme(colors.lime.400);
    --chart-lime-bolder: theme(colors.lime.400);
    --chart-lime-bolder-hovered: theme(colors.lime.300);
    --chart-lime-boldest: theme(colors.lime.300);
    --chart-lime-boldest-hovered: theme(colors.lime.200);

    --chart-neutral: theme(colors.neutral.600);
    --chart-neutral-hovered: theme(colors.neutral.700);

    --chart-red-bold: theme(colors.red.600);
    --chart-red-bold-hovered: theme(colors.red.500);
    --chart-red-bolder: theme(colors.red.500);
    --chart-red-bolder-hovered: theme(colors.red.400);
    --chart-red-boldest: theme(colors.red.300);
    --chart-red-boldest-hovered: theme(colors.red.200);

    --chart-orange-bold: theme(colors.orange.500);
    --chart-orange-bold-hovered: theme(colors.orange.400);
    --chart-orange-bolder: theme(colors.orange.400);
    --chart-orange-bolder-hovered: theme(colors.orange.300);
    --chart-orange-boldest: theme(colors.orange.200);
    --chart-orange-boldest-hovered: theme(colors.orange.200);

    --chart-yellow-bold: theme(colors.yellow.500);
    --chart-yellow-bold-hovered: theme(colors.yellow.400);
    --chart-yellow-bolder: theme(colors.yellow.400);
    --chart-yellow-bolder-hovered: theme(colors.yellow.300);
    --chart-yellow-boldest: theme(colors.yellow.300);
    --chart-yellow-boldest-hovered: theme(colors.yellow.200);

    --chart-green-bold: theme(colors.green.500);
    --chart-green-bold-hovered: theme(colors.green.400);
    --chart-green-bolder: theme(colors.green.400);
    --chart-green-bolder-hovered: theme(colors.green.300);
    --chart-green-boldest: theme(colors.green.300);
    --chart-green-boldest-hovered: theme(colors.green.200);

    --chart-teal-bold: theme(colors.teal.500);
    --chart-teal-bold-hovered: theme(colors.teal.400);
    --chart-teal-bolder: theme(colors.teal.400);
    --chart-teal-bolder-hovered: theme(colors.teal.300);
    --chart-teal-boldest: theme(colors.teal.300);
    --chart-teal-boldest-hovered: theme(colors.teal.200);

    --chart-blue-bold: theme(colors.blue.600);
    --chart-blue-bold-hovered: theme(colors.blue.500);
    --chart-blue-bolder: theme(colors.blue.500);
    --chart-blue-bolder-hovered: theme(colors.blue.400);
    --chart-blue-boldest: theme(colors.blue.300);
    --chart-blue-boldest-hovered: theme(colors.blue.200);

    --chart-purple-bold: theme(colors.purple.600);
    --chart-purple-bold-hovered: theme(colors.purple.500);
    --chart-purple-bolder: theme(colors.purple.500);
    --chart-purple-bolder-hovered: theme(colors.purple.400);
    --chart-purple-boldest: theme(colors.purple.300);
    --chart-purple-boldest-hovered: theme(colors.purple.200);

    --chart-magenta-bold: theme(colors.fuchsia.600);
    --chart-magenta-bold-hovered: theme(colors.fuchsia.500);
    --chart-magenta-bolder: theme(colors.fuchsia.500);
    --chart-magenta-bolder-hovered: theme(colors.fuchsia.400);
    --chart-magenta-boldest: theme(colors.fuchsia.300);
    --chart-magenta-boldest-hovered: theme(colors.fuchsia.200);

    --chart-gray-bold: theme(colors.neutral.600);
    --chart-gray-bold-hovered: theme(colors.neutral.700);
    --chart-gray-bolder: theme(colors.neutral.600);
    --chart-gray-bolder-hovered: theme(colors.neutral.700);
    --chart-gray-boldest: theme(colors.neutral.800);
    --chart-gray-boldest-hovered: theme(colors.neutral.900);

    --chart-brand: theme(colors.violet.500);
    --chart-brand-hovered: theme(colors.violet.400);

    --chart-danger: theme(colors.red.600);
    --chart-danger-hovered: theme(colors.red.500);
    --chart-danger-bold: theme(colors.red.200);
    --chart-danger-bold-hovered: theme(colors.red.300);

    --chart-warning: theme(colors.orange.500);
    --chart-warning-hovered: theme(colors.orange.400);
    --chart-warning-bold: theme(colors.orange.300);
    --chart-warning-bold-hovered: theme(colors.orange.200);

    --chart-success: theme(colors.lime.500);
    --chart-success-hovered: theme(colors.lime.400);
    --chart-success-bold: theme(colors.lime.300);
    --chart-success-bold-hovered: theme(colors.lime.200);

    --chart-discovery: theme(colors.purple.500);
    --chart-discovery-hovered: theme(colors.purple.400);
    --chart-discovery-bold: theme(colors.purple.300);
    --chart-discovery-bold-hovered: theme(colors.purple.200);

    --chart-info: theme(colors.blue.500);
    --chart-info-hovered: theme(colors.blue.400);
    --chart-info-bold: theme(colors.blue.300);
    --chart-info-bold-hovered: theme(colors.blue.200);

    /* ===== ELEVATION ===== */
    --background-color-elevation-surface: theme(colors.neutral.900);
    --background-color-elevation-surface-hovered: theme(colors.neutral.800);
    --background-color-elevation-surface-pressed: color-mix(in srgb, theme(colors.neutral.800), theme(colors.neutral.700));

    --background-color-elevation-surface-overlay: color-mix(in srgb, theme(colors.neutral.800), theme(colors.neutral.700));
    --background-color-elevation-surface-overlay-hovered: theme(colors.neutral.700);
    --background-color-elevation-surface-overlay-pressed: color-mix(in srgb, theme(colors.neutral.700), theme(colors.neutral.600));

    --background-color-elevation-surface-raised: theme(colors.neutral.800);
    --background-color-elevation-surface-raised-hovered: color-mix(in srgb, theme(colors.neutral.800), theme(colors.neutral.700));
    --background-color-elevation-surface-raised-pressed: theme(colors.neutral.700);

    --background-color-elevation-surface-sunken: theme(colors.neutral.950);

    /* ===== ELEVATION SHADOWS ===== */
    --shadow-elevation-overflow: 0px 0px 12px rgba(1, 4, 4, 0.56), 0px 0px 1px rgba(1, 4, 4, 0.5);
    --shadow-elevation-overflow-perimeter: #01040480;
    --shadow-elevation-overflow-spread: #0104048f;
    
    --shadow-elevation-overlay: 0px 8px 12px rgba(1, 4, 4, 0.36), 0px 0px 1px rgba(1, 4, 4, 0.5);
    
    --shadow-elevation-raised: 0px 1px 1px rgba(1, 4, 4, 0.5), 0px 0px 1px rgba(1, 4, 4, 0.5);
  }
}