@theme static {
  --theme: 'light';
  --text-color-ds-default: theme(colors.neutral.900);
  --text-color-ds-accent-lime: theme(colors.lime.800);
  --text-color-ds-accent-lime-bolder: theme(colors.lime.900);
  --text-color-ds-accent-red: theme(colors.red.800);
  --text-color-ds-accent-red-bolder: theme(colors.red.900);
  --text-color-ds-accent-orange: theme(colors.orange.800);
  --text-color-ds-accent-orange-bolder: theme(colors.orange.900);
  --text-color-ds-accent-yellow: theme(colors.yellow.800);
  --text-color-ds-accent-yellow-bolder: theme(colors.yellow.900);
  --text-color-ds-accent-green: theme(colors.green.800);
  --text-color-ds-accent-green-bolder: theme(colors.green.900);
  --text-color-ds-accent-teal: theme(colors.teal.800);
  --text-color-ds-accent-teal-bolder: theme(colors.teal.900);
  --text-color-ds-accent-blue: theme(colors.blue.800);
  --text-color-ds-accent-blue-bolder: theme(colors.blue.900);
  --text-color-ds-accent-violet: theme(colors.violet.800);
  --text-color-ds-accent-violet-bolder: theme(colors.violet.900);
  --text-color-ds-accent-magenta: theme(colors.fuchsia.800);
  --text-color-ds-accent-magenta-bolder: theme(colors.fuchsia.900);
  --text-color-ds-accent-neutral: theme(colors.neutral.800);
  --text-color-ds-accent-neutral-bolder: theme(colors.neutral.900);
  --text-color-ds-accent-gray: theme(colors.gray.800);
  --text-color-ds-accent-gray-bolder: theme(colors.gray.900);
  --text-color-ds-disabled: theme(colors.neutral.300);
  --text-color-ds-inverse: theme(colors.neutral.50);
  --text-color-ds-primary: theme(colors.violet.700);
  --text-color-ds-selected: theme(colors.violet.700);
  --text-color-ds-brand: theme(colors.violet.700);
  --text-color-ds-destructive: theme(colors.red.800);
  --text-color-ds-warning: theme(colors.orange.800);
  --text-color-ds-warning-inverse: theme(colors.neutral.900);
  --text-color-ds-success: theme(colors.green.800);
  --text-color-ds-discovery: theme(colors.purple.800);
  --text-color-ds-info: theme(colors.blue.800);
  --text-color-ds-subtle: theme(colors.neutral.700);
  --text-color-ds-subtlest: theme(colors.neutral.500);
  --text-color-ds-link: theme(colors.teal.700);
  --text-color-ds-link-pressed: theme(colors.teal.800);
  --text-color-ds-link-visited: theme(colors.neutral.700);
  --text-color-ds-link-visited-pressed: theme(colors.neutral.800);
  --fill-ds-icon: theme(colors.neutral.950);
  --fill-ds-icon-accent-lime: theme(colors.lime.600);
  --fill-ds-icon-accent-red: theme(colors.red.700);
  --fill-ds-icon-accent-orange: theme(colors.orange.600);
  --fill-ds-icon-accent-yellow: theme(colors.yellow.600);
  --fill-ds-icon-accent-green: theme(colors.green.600);
  --fill-ds-icon-accent-teal: theme(colors.teal.600);
  --fill-ds-icon-accent-blue: theme(colors.blue.600);
  --fill-ds-icon-accent-violet: theme(colors.violet.600);
  --fill-ds-icon-accent-fuchsia: theme(colors.fuchsia.600);
  --fill-ds-icon-accent-gray: theme(colors.neutral.600);
  --fill-ds-icon-disabled: theme(colors.neutral.300);
  --fill-ds-icon-inverse: theme(colors.neutral.100);
  --fill-ds-icon-selected: theme(colors.violet.700);
  --fill-ds-icon-brand: theme(colors.violet.700);
  --fill-ds-icon-destructive: theme(colors.red.700);
  --fill-ds-icon-warning: theme(colors.orange.600);
  --fill-ds-icon-warning-inverse: theme(colors.neutral.950);
  --fill-ds-icon-success: theme(colors.green.600);
  --fill-ds-icon-discovery: theme(colors.purple.600);
  --fill-ds-icon-info: theme(colors.blue.600);
  --fill-ds-icon-subtlest: theme(colors.neutral.700);
  --fill-ds-icon-subtle: theme(colors.neutral.800);
  --border-color-ds-default: theme(colors.neutral.200);
  --border-color-ds-accent-lime: theme(colors.lime.600);
  --border-color-ds-accent-red: theme(colors.red.600);
  --border-color-ds-accent-orange: theme(colors.orange.600);
  --border-color-ds-accent-yellow: theme(colors.yellow.600);
  --border-color-ds-accent-green: theme(colors.green.600);
  --border-color-ds-accent-teal: theme(colors.teal.600);
  --border-color-ds-accent-blue: theme(colors.blue.600);
  --border-color-ds-accent-violet: theme(colors.violet.600);
  --border-color-ds-accent-fuchsia: theme(colors.fuchsia.600);
  --border-color-ds-accent-gray: theme(colors.neutral.600);
  --border-color-ds-disabled: theme(colors.neutral.300);
  --border-color-ds-focused: theme(colors.violet.500);
  --border-color-ds-input: theme(colors.neutral.200);
  --border-color-ds-inverse: theme(colors.neutral.50);
  --border-color-ds-selected: theme(colors.violet.700);
  --border-color-ds-brand: theme(colors.violet.700);
  --border-color-ds-destructive: theme(colors.red.600);
  --border-color-ds-warning: theme(colors.orange.600);
  --border-color-ds-success: theme(colors.green.600);
  --border-color-ds-discovery: theme(colors.purple.600);
  --border-color-ds-info: theme(colors.blue.600);
  --border-color-ds-bold: theme(colors.neutral.600);
  --background-color-ds-accent-lime-subtlest: theme(colors.lime.100);
  --background-color-ds-accent-lime-subtlest-hovered: theme(colors.lime.200);
  --background-color-ds-accent-lime-subtlest-pressed: theme(colors.lime.300);
  --background-color-ds-accent-lime-subtler: theme(colors.lime.200);
  --background-color-ds-accent-lime-subtler-hovered: theme(colors.lime.300);
  --background-color-ds-accent-lime-subtler-pressed: theme(colors.lime.300);
  --background-color-ds-accent-lime-subtle: theme(colors.lime.400);
  --background-color-ds-accent-lime-subtle-hovered: theme(colors.lime.300);
  --background-color-ds-accent-lime-subtle-pressed: theme(colors.lime.200);
  --background-color-ds-accent-lime-bolder: theme(colors.lime.700);
  --background-color-ds-accent-lime-bolder-hovered: theme(colors.lime.800);
  --background-color-ds-accent-lime-bolder-pressed: theme(colors.lime.900);
  --background-color-ds-accent-red-subtlest: theme(colors.red.100);
  --background-color-ds-accent-red-subtlest-hovered: theme(colors.red.200);
  --background-color-ds-accent-red-subtlest-pressed: theme(colors.red.300);
  --background-color-ds-accent-red-subtler: theme(colors.red.200);
  --background-color-ds-accent-red-subtler-hovered: theme(colors.red.300);
  --background-color-ds-accent-red-subtler-pressed: theme(colors.red.300);
  --background-color-ds-accent-red-subtle: theme(colors.red.400);
  --background-color-ds-accent-red-subtle-hovered: theme(colors.red.300);
  --background-color-ds-accent-red-subtle-pressed: theme(colors.red.300);
  --background-color-ds-accent-red-bolder: theme(colors.red.700);
  --background-color-ds-accent-red-bolder-hovered: theme(colors.red.800);
  --background-color-ds-accent-red-bolder-pressed: theme(colors.red.900);
  --background-color-ds-accent-orange-subtlest: theme(colors.orange.100);
  --background-color-ds-accent-orange-subtlest-hovered: theme(colors.orange.200);
  --background-color-ds-accent-orange-subtlest-pressed: theme(colors.orange.300);
  --background-color-ds-accent-orange-subtler: theme(colors.orange.200);
  --background-color-ds-accent-orange-subtler-hovered: theme(colors.orange.300);
  --background-color-ds-accent-orange-subtler-pressed: theme(colors.orange.300);
  --background-color-ds-accent-orange-subtle: theme(colors.orange.400);
  --background-color-ds-accent-orange-subtle-hovered: theme(colors.orange.300);
  --background-color-ds-accent-orange-subtle-pressed: theme(colors.orange.300);
  --background-color-ds-accent-orange-bolder: theme(colors.orange.700);
  --background-color-ds-accent-orange-bolder-hovered: theme(colors.orange.800);
  --background-color-ds-accent-orange-bolder-pressed: theme(colors.orange.900);
  --background-color-ds-accent-yellow-subtlest: theme(colors.yellow.100);
  --background-color-ds-accent-yellow-subtlest-hovered: theme(colors.yellow.200);
  --background-color-ds-accent-yellow-subtlest-pressed: theme(colors.yellow.300);
  --background-color-ds-accent-yellow-subtler: theme(colors.yellow.200);
  --background-color-ds-accent-yellow-subtler-hovered: theme(colors.yellow.300);
  --background-color-ds-accent-yellow-subtler-pressed: theme(colors.yellow.300);
  --background-color-ds-accent-yellow-subtle: theme(colors.yellow.300);
  --background-color-ds-accent-yellow-subtle-hovered: theme(colors.yellow.400);
  --background-color-ds-accent-yellow-subtle-pressed: theme(colors.yellow.300);
  --background-color-ds-accent-yellow-bolder: theme(colors.yellow.700);
  --background-color-ds-accent-yellow-bolder-hovered: theme(colors.yellow.800);
  --background-color-ds-accent-yellow-bolder-pressed: theme(colors.yellow.900);
  --background-color-ds-accent-green-subtlest: theme(colors.green.100);
  --background-color-ds-accent-green-subtlest-hovered: theme(colors.green.200);
  --background-color-ds-accent-green-subtlest-pressed: theme(colors.green.300);
  --background-color-ds-accent-green-subtler: theme(colors.green.200);
  --background-color-ds-accent-green-subtler-hovered: theme(colors.green.300);
  --background-color-ds-accent-green-subtler-pressed: theme(colors.green.300);
  --background-color-ds-accent-green-subtle: theme(colors.green.400);
  --background-color-ds-accent-green-subtle-hovered: theme(colors.green.300);
  --background-color-ds-accent-green-subtle-pressed: theme(colors.green.300);
  --background-color-ds-accent-green-bolder: theme(colors.green.700);
  --background-color-ds-accent-green-bolder-hovered: theme(colors.green.800);
  --background-color-ds-accent-green-bolder-pressed: theme(colors.green.900);
  --background-color-ds-accent-teal-subtlest: theme(colors.teal.100);
  --background-color-ds-accent-teal-subtlest-hovered: theme(colors.teal.200);
  --background-color-ds-accent-teal-subtlest-pressed: theme(colors.teal.300);
  --background-color-ds-accent-teal-subtler: theme(colors.teal.200);
  --background-color-ds-accent-teal-subtler-hovered: theme(colors.teal.300);
  --background-color-ds-accent-teal-subtler-pressed: theme(colors.teal.300);
  --background-color-ds-accent-teal-subtle: theme(colors.teal.400);
  --background-color-ds-accent-teal-subtle-hovered: theme(colors.teal.300);
  --background-color-ds-accent-teal-subtle-pressed: theme(colors.teal.300);
  --background-color-ds-accent-teal-bolder: theme(colors.teal.700);
  --background-color-ds-accent-teal-bolder-hovered: theme(colors.teal.800);
  --background-color-ds-accent-teal-bolder-pressed: theme(colors.teal.900);
  --background-color-ds-accent-blue-subtlest: theme(colors.blue.100);
  --background-color-ds-accent-blue-subtlest-hovered: theme(colors.blue.200);
  --background-color-ds-accent-blue-subtlest-pressed: theme(colors.blue.300);
  --background-color-ds-accent-blue-subtler: theme(colors.blue.200);
  --background-color-ds-accent-blue-subtler-hovered: theme(colors.blue.300);
  --background-color-ds-accent-blue-subtler-pressed: theme(colors.blue.300);
  --background-color-ds-accent-blue-subtle: theme(colors.blue.400);
  --background-color-ds-accent-blue-subtle-hovered: theme(colors.blue.300);
  --background-color-ds-accent-blue-subtle-pressed: theme(colors.blue.300);
  --background-color-ds-accent-blue-bolder: theme(colors.blue.700);
  --background-color-ds-accent-blue-bolder-hovered: theme(colors.blue.800);
  --background-color-ds-accent-blue-bolder-pressed: theme(colors.blue.900);
  --background-color-ds-accent-violet-subtlest: theme(colors.violet.100);
  --background-color-ds-accent-violet-subtlest-hovered: theme(colors.violet.200);
  --background-color-ds-accent-violet-subtlest-pressed: theme(colors.violet.300);
  --background-color-ds-accent-violet-subtler: theme(colors.violet.200);
  --background-color-ds-accent-violet-subtler-hovered: theme(colors.violet.300);
  --background-color-ds-accent-violet-subtler-pressed: theme(colors.violet.300);
  --background-color-ds-accent-violet-subtle: theme(colors.violet.400);
  --background-color-ds-accent-violet-subtle-hovered: theme(colors.violet.300);
  --background-color-ds-accent-violet-subtle-pressed: theme(colors.violet.300);
  --background-color-ds-accent-violet-bolder: theme(colors.violet.700);
  --background-color-ds-accent-violet-bolder-hovered: theme(colors.violet.800);
  --background-color-ds-accent-violet-bolder-pressed: theme(colors.violet.900);
  --background-color-ds-accent-magenta-subtlest: theme(colors.fuchsia.100);
  --background-color-ds-accent-magenta-subtlest-hovered: theme(colors.fuchsia.200);
  --background-color-ds-accent-magenta-subtlest-pressed: theme(colors.fuchsia.300);
  --background-color-ds-accent-magenta-subtler: theme(colors.fuchsia.200);
  --background-color-ds-accent-magenta-subtler-hovered: theme(colors.fuchsia.300);
  --background-color-ds-accent-magenta-subtler-pressed: theme(colors.fuchsia.300);
  --background-color-ds-accent-magenta-subtle: theme(colors.fuchsia.400);
  --background-color-ds-accent-magenta-subtle-hovered: theme(colors.fuchsia.300);
  --background-color-ds-accent-magenta-subtle-pressed: theme(colors.fuchsia.300);
  --background-color-ds-accent-magenta-bolder: theme(colors.fuchsia.700);
  --background-color-ds-accent-magenta-bolder-hovered: theme(colors.fuchsia.800);
  --background-color-ds-accent-magenta-bolder-pressed: theme(colors.fuchsia.900);
  --background-color-ds-accent-gray-subtlest: theme(colors.neutral.200);
  --background-color-ds-accent-gray-subtlest-hovered: theme(colors.neutral.300);
  --background-color-ds-accent-gray-subtlest-pressed: theme(colors.neutral.400);
  --background-color-ds-accent-gray-subtler: theme(colors.neutral.300);
  --background-color-ds-accent-gray-subtler-hovered: theme(colors.neutral.400);
  --background-color-ds-accent-gray-subtler-pressed: theme(colors.neutral.500);
  --background-color-ds-accent-gray-subtle: theme(colors.neutral.500);
  --background-color-ds-accent-gray-subtle-hovered: theme(colors.neutral.400);
  --background-color-ds-accent-gray-subtle-pressed: theme(colors.neutral.300);
  --background-color-ds-accent-gray-bolder: theme(colors.neutral.700);
  --background-color-ds-accent-gray-bolder-hovered: theme(colors.neutral.800);
  --background-color-ds-accent-gray-bolder-pressed: theme(colors.neutral.900);
  --background-color-ds-lime-bold: theme(colors.lime.600);
  --background-color-ds-lime-bold-hovered: theme(colors.lime.700);
  --background-color-ds-lime-bolder: theme(colors.lime.700);
  --background-color-ds-lime-bolder-hovered: theme(colors.lime.800);
  --background-color-ds-lime-boldest: theme(colors.lime.800);
  --background-color-ds-lime-boldest-hovered: theme(colors.lime.900);
  --background-color-ds-neutral: theme(colors.neutral.100);
  --background-color-ds-neutral-hovered: theme(colors.neutral.200);
  --background-color-ds-neutral-pressed: theme(colors.neutral.300);
  --background-color-ds-neutral-subtle: transparent;
  --background-color-ds-neutral-subtle-hovered: theme(colors.neutral.100);
  --background-color-ds-neutral-subtle-pressed: theme(colors.neutral.200);
  --background-color-ds-neutral-bold: theme(colors.neutral.950);
  --background-color-ds-neutral-bold-hovered: theme(colors.neutral.900);
  --background-color-ds-neutral-bold-pressed: theme(colors.neutral.800);
  --background-color-ds-red-bold: theme(colors.red.500);
  --background-color-ds-red-bold-hovered: theme(colors.red.600);
  --background-color-ds-red-bolder: theme(colors.red.600);
  --background-color-ds-red-bolder-hovered: theme(colors.red.700);
  --background-color-ds-red-boldest: theme(colors.red.800);
  --background-color-ds-red-boldest-hovered: theme(colors.red.900);
  --background-color-ds-orange-bold: theme(colors.orange.600);
  --background-color-ds-orange-bold-hovered: theme(colors.orange.700);
  --background-color-ds-orange-bolder: theme(colors.orange.700);
  --background-color-ds-orange-bolder-hovered: theme(colors.orange.800);
  --background-color-ds-orange-boldest: theme(colors.orange.900);
  --background-color-ds-orange-boldest-hovered: theme(colors.orange.950);
  --background-color-ds-yellow-bold: theme(colors.yellow.600);
  --background-color-ds-yellow-bold-hovered: theme(colors.yellow.700);
  --background-color-ds-yellow-bolder: theme(colors.yellow.700);
  --background-color-ds-yellow-bolder-hovered: theme(colors.yellow.800);
  --background-color-ds-yellow-boldest: theme(colors.yellow.800);
  --background-color-ds-yellow-boldest-hovered: theme(colors.yellow.900);
  --background-color-ds-green-bold: theme(colors.green.600);
  --background-color-ds-green-bold-hovered: theme(colors.green.700);
  --background-color-ds-green-bolder: theme(colors.green.700);
  --background-color-ds-green-bolder-hovered: theme(colors.green.800);
  --background-color-ds-green-boldest: theme(colors.green.800);
  --background-color-ds-green-boldest-hovered: theme(colors.green.900);
  --background-color-ds-teal-bold: theme(colors.teal.600);
  --background-color-ds-teal-bold-hovered: theme(colors.teal.700);
  --background-color-ds-teal-bolder: theme(colors.teal.700);
  --background-color-ds-teal-bolder-hovered: theme(colors.teal.800);
  --background-color-ds-teal-boldest: theme(colors.teal.800);
  --background-color-ds-teal-boldest-hovered: theme(colors.teal.900);
  --background-color-ds-blue-bold: theme(colors.blue.500);
  --background-color-ds-blue-bold-hovered: theme(colors.blue.600);
  --background-color-ds-blue-bolder: theme(colors.blue.600);
  --background-color-ds-blue-bolder-hovered: theme(colors.blue.700);
  --background-color-ds-blue-boldest: theme(colors.blue.800);
  --background-color-ds-blue-boldest-hovered: theme(colors.blue.900);
  --background-color-ds-violet-bold: theme(colors.violet.500);
  --background-color-ds-violet-bold-hovered: theme(colors.violet.600);
  --background-color-ds-violet-bolder: theme(colors.violet.600);
  --background-color-ds-violet-bolder-hovered: theme(colors.violet.700);
  --background-color-ds-violet-boldest: theme(colors.violet.800);
  --background-color-ds-violet-boldest-hovered: theme(colors.violet.900);
  --background-color-ds-magenta-bold: theme(colors.fuchsia.500);
  --background-color-ds-magenta-bold-hovered: theme(colors.fuchsia.600);
  --background-color-ds-magenta-bolder: theme(colors.fuchsia.600);
  --background-color-ds-magenta-bolder-hovered: theme(colors.fuchsia.700);
  --background-color-ds-magenta-boldest: theme(colors.fuchsia.800);
  --background-color-ds-magenta-boldest-hovered: theme(colors.fuchsia.900);
  --background-color-ds-gray-bold: theme(colors.neutral.500);
  --background-color-ds-gray-bold-hovered: theme(colors.neutral.600);
  --background-color-ds-gray-bolder: theme(colors.neutral.600);
  --background-color-ds-gray-bolder-hovered: theme(colors.neutral.700);
  --background-color-ds-gray-boldest: theme(colors.neutral.800);
  --background-color-ds-gray-boldest-hovered: theme(colors.neutral.900);
  --background-color-ds-brand: theme(colors.violet.600);
  --background-color-ds-brand-hovered: theme(colors.violet.700);
  --background-color-ds-brand-subtlest: theme(colors.violet.100);
  --background-color-ds-brand-subtlest-hovered: theme(colors.violet.200);
  --background-color-ds-brand-subtlest-pressed: theme(colors.violet.300);
  --background-color-ds-brand-bold: theme(colors.violet.700);
  --background-color-ds-brand-bold-hovered: theme(colors.violet.800);
  --background-color-ds-brand-bold-pressed: theme(colors.violet.900);
  --background-color-ds-brand-boldest: theme(colors.violet.950);
  --background-color-ds-brand-boldest-hovered: theme(colors.violet.900);
  --background-color-ds-brand-boldest-pressed: theme(colors.violet.800);
  --background-color-ds-destructive: theme(colors.red.100);
  --background-color-ds-destructive-hovered: theme(colors.red.200);
  --background-color-ds-destructive-bold: theme(colors.red.700);
  --background-color-ds-destructive-bold-hovered: theme(colors.red.800);
  --background-color-ds-destructive-bold-pressed: theme(colors.red.900);
  --background-color-ds-destructive-pressed: theme(colors.red.300);
  --background-color-ds-warning: theme(colors.orange.100);
  --background-color-ds-warning-hovered: theme(colors.orange.200);
  --background-color-ds-warning-bold: theme(colors.orange.300);
  --background-color-ds-warning-bold-hovered: theme(colors.orange.400);
  --background-color-ds-warning-bold-pressed: theme(colors.orange.500);
  --background-color-ds-warning-pressed: theme(colors.orange.300);
  --background-color-ds-success: theme(colors.green.100);
  --background-color-ds-success-hovered: theme(colors.green.200);
  --background-color-ds-success-bold: theme(colors.green.700);
  --background-color-ds-success-bold-hovered: theme(colors.green.800);
  --background-color-ds-success-bold-pressed: theme(colors.green.900);
  --background-color-ds-success-pressed: theme(colors.green.300);
  --background-color-ds-discovery: theme(colors.purple.100);
  --background-color-ds-discovery-hovered: theme(colors.purple.200);
  --background-color-ds-discovery-bold: theme(colors.purple.700);
  --background-color-ds-discovery-bold-hovered: theme(colors.purple.800);
  --background-color-ds-discovery-bold-pressed: theme(colors.purple.900);
  --background-color-ds-discovery-pressed: theme(colors.purple.300);
  --background-color-ds-info: theme(colors.blue.100);
  --background-color-ds-info-hovered: theme(colors.blue.200);
  --background-color-ds-info-bold: theme(colors.blue.700);
  --background-color-ds-info-bold-hovered: theme(colors.blue.800);
  --background-color-ds-info-bold-pressed: theme(colors.blue.900);
  --background-color-ds-info-pressed: theme(colors.blue.300);
  --background-color-ds-disabled: theme(colors.neutral.300);
  --background-color-ds-input: rgb(255, 255, 255);
  --background-color-ds-input-hovered: theme(colors.neutral.100);
  --background-color-ds-input-pressed: rgb(255, 255, 255);
  --background-color-ds-inverse-subtle: #00000029;
  --background-color-ds-inverse-subtle-hovered: #0000003D;
  --background-color-ds-inverse-subtle-pressed: #00000052;
  --background-color-ds-primary: theme(colors.violet.100);
  --background-color-ds-primary-hovered: theme(colors.violet.200);
  --background-color-ds-primary-pressed: theme(colors.violet.300);
  --background-color-ds-primary-bold: theme(colors.violet.700);
  --background-color-ds-primary-bold-hovered: theme(colors.violet.800);
  --background-color-ds-primary-bold-pressed: theme(colors.violet.900);
  --background-color-ds-primary-boldest: theme(colors.violet.950);
  --background-color-ds-primary-boldest-hovered: theme(colors.violet.900);
  --background-color-ds-primary-boldest-pressed: theme(colors.violet.800);
  --background-color-ds-selected: theme(colors.violet.200);
  --background-color-ds-selected-hovered: theme(colors.violet.300);
  --background-color-ds-selected-pressed: theme(colors.violet.200);
  --background-color-ds-selected-bold: theme(colors.violet.700);
  --background-color-ds-selected-bold-hovered: theme(colors.violet.800);
  --background-color-ds-selected-bold-pressed: theme(colors.violet.700);
  --background-color-ds-skeleton: theme(colors.neutral.200);
  --background-color-ds-skeleton-subtle: theme(colors.neutral.100);
  --background-color-ds-elevation-surface: rgb(255, 255, 255);
  --background-color-ds-elevation-surface-sunken: theme(colors.neutral.100);
  --background-color-ds-elevation-surface-hovered: theme(colors.neutral.50);
  --background-color-ds-elevation-surface-pressed: theme(colors.neutral.100);
  --background-color-ds-elevation-surface-raised: rgb(255, 255, 255);
  --background-color-ds-elevation-surface-raised-hovered: theme(colors.neutral.50);
  --background-color-ds-elevation-surface-raised-pressed: theme(colors.neutral.100);
  --background-color-ds-elevation-surface-overlay: rgba(255, 255, 255, .6);
  --background-color-ds-elevation-surface-overlay-hovered: rgba(255, 255, 255, .5);
  --background-color-ds-elevation-surface-overlay-pressed: rgba(255, 255, 255, .6);
  --shadow-ds-elevation-overflow: 0px 0px 8px rgba(30, 31, 33, 0.16), 0px 0px 1px rgba(30, 31, 33, 0.12);
  --shadow-ds-elevation-overflow-perimeter: #1E1F211f;
  --shadow-ds-elevation-overflow-spread: #1E1F2129;
  --shadow-ds-elevation-overlay: 0px 8px 12px rgba(30, 31, 33, 0.15), 0px 0px 1px rgba(30, 31, 33, 0.31);
  --shadow-ds-elevation-raised: 0px 1px 1px rgba(30, 31, 33, 0.25), 0px 0px 1px rgba(30, 31, 33, 0.31);
  --chart-ds-categorical-1: theme(colors.blue.600);
  --chart-ds-categorical-1-hovered: theme(colors.blue.700);
  --chart-ds-categorical-2: theme(colors.lime.500);
  --chart-ds-categorical-2-hovered: theme(colors.lime.600);
  --chart-ds-categorical-3: theme(colors.violet.500);
  --chart-ds-categorical-3-hovered: theme(colors.violet.600);
  --chart-ds-categorical-4: theme(colors.orange.500);
  --chart-ds-categorical-4-hovered: theme(colors.orange.600);
  --chart-ds-categorical-5: theme(colors.blue.800);
  --chart-ds-categorical-5-hovered: theme(colors.blue.900);
  --chart-ds-categorical-6: theme(colors.violet.700);
  --chart-ds-categorical-6-hovered: theme(colors.violet.800);
  --chart-ds-categorical-7: theme(colors.teal.500);
  --chart-ds-categorical-7-hovered: theme(colors.teal.600);
  --chart-ds-categorical-8: theme(colors.orange.700);
  --chart-ds-categorical-8-hovered: theme(colors.orange.900);
  --chart-ds-lime-bold: theme(colors.lime.600);
  --chart-ds-lime-bold-hovered: theme(colors.lime.700);
  --chart-ds-lime-bolder: theme(colors.lime.700);
  --chart-ds-lime-bolder-hovered: theme(colors.lime.800);
  --chart-ds-lime-boldest: theme(colors.lime.800);
  --chart-ds-lime-boldest-hovered: theme(colors.lime.900);
  --chart-ds-neutral: theme(colors.neutral.500);
  --chart-ds-neutral-hovered: theme(colors.neutral.600);
  --chart-ds-red-bold: theme(colors.red.500);
  --chart-ds-red-bold-hovered: theme(colors.red.600);
  --chart-ds-red-bolder: theme(colors.red.600);
  --chart-ds-red-bolder-hovered: theme(colors.red.700);
  --chart-ds-red-boldest: theme(colors.red.800);
  --chart-ds-red-boldest-hovered: theme(colors.red.900);
  --chart-ds-orange-bold: theme(colors.orange.600);
  --chart-ds-orange-bold-hovered: theme(colors.orange.700);
  --chart-ds-orange-bolder: theme(colors.orange.700);
  --chart-ds-orange-bolder-hovered: theme(colors.orange.800);
  --chart-ds-orange-boldest: theme(colors.orange.900);
  --chart-ds-orange-boldest-hovered: theme(colors.orange.950);
  --chart-ds-yellow-bold: theme(colors.yellow.600);
  --chart-ds-yellow-bold-hovered: theme(colors.yellow.700);
  --chart-ds-yellow-bolder: theme(colors.yellow.700);
  --chart-ds-yellow-bolder-hovered: theme(colors.yellow.800);
  --chart-ds-yellow-boldest: theme(colors.yellow.800);
  --chart-ds-yellow-boldest-hovered: theme(colors.yellow.900);
  --chart-ds-green-bold: theme(colors.green.600);
  --chart-ds-green-bold-hovered: theme(colors.green.700);
  --chart-ds-green-bolder: theme(colors.green.700);
  --chart-ds-green-bolder-hovered: theme(colors.green.800);
  --chart-ds-green-boldest: theme(colors.green.800);
  --chart-ds-green-boldest-hovered: theme(colors.green.900);
  --chart-ds-teal-bold: theme(colors.teal.600);
  --chart-ds-teal-bold-hovered: theme(colors.teal.700);
  --chart-ds-teal-bolder: theme(colors.teal.700);
  --chart-ds-teal-bolder-hovered: theme(colors.teal.800);
  --chart-ds-teal-boldest: theme(colors.teal.800);
  --chart-ds-teal-boldest-hovered: theme(colors.teal.900);
  --chart-ds-blue-bold: theme(colors.blue.500);
  --chart-ds-blue-bold-hovered: theme(colors.blue.600);
  --chart-ds-blue-bolder: theme(colors.blue.600);
  --chart-ds-blue-bolder-hovered: theme(colors.blue.700);
  --chart-ds-blue-boldest: theme(colors.blue.800);
  --chart-ds-blue-boldest-hovered: theme(colors.blue.900);
  --chart-ds-violet-bold: theme(colors.violet.500);
  --chart-ds-violet-bold-hovered: theme(colors.violet.600);
  --chart-ds-violet-bolder: theme(colors.violet.600);
  --chart-ds-violet-bolder-hovered: theme(colors.violet.700);
  --chart-ds-violet-boldest: theme(colors.violet.800);
  --chart-ds-violet-boldest-hovered: theme(colors.violet.900);
  --chart-ds-magenta-bold: theme(colors.fuchsia.500);
  --chart-ds-magenta-bold-hovered: theme(colors.fuchsia.600);
  --chart-ds-magenta-bolder: theme(colors.fuchsia.600);
  --chart-ds-magenta-bolder-hovered: theme(colors.fuchsia.700);
  --chart-ds-magenta-boldest: theme(colors.fuchsia.800);
  --chart-ds-magenta-boldest-hovered: theme(colors.fuchsia.900);
  --chart-ds-gray-bold: theme(colors.neutral.500);
  --chart-ds-gray-bold-hovered: theme(colors.neutral.600);
  --chart-ds-gray-bolder: theme(colors.neutral.600);
  --chart-ds-gray-bolder-hovered: theme(colors.neutral.700);
  --chart-ds-gray-boldest: theme(colors.neutral.800);
  --chart-ds-gray-boldest-hovered: theme(colors.neutral.900);
  --chart-ds-brand: theme(colors.violet.600);
  --chart-ds-brand-hovered: theme(colors.violet.700);
  --chart-ds-destructive: theme(colors.red.600);
  --chart-ds-destructive-hovered: theme(colors.red.700);
  --chart-ds-destructive-bold: theme(colors.red.800);
  --chart-ds-destructive-bold-hovered: theme(colors.red.900);
  --chart-ds-warning: theme(colors.orange.500);
  --chart-ds-warning-hovered: theme(colors.orange.600);
  --chart-ds-warning-bold: theme(colors.orange.700);
  --chart-ds-warning-bold-hovered: theme(colors.orange.800);
  --chart-ds-success: theme(colors.green.500);
  --chart-ds-success-hovered: theme(colors.green.600);
  --chart-ds-success-bold: theme(colors.green.700);
  --chart-ds-success-bold-hovered: theme(colors.green.800);
  --chart-ds-discovery: theme(colors.purple.500);
  --chart-ds-discovery-hovered: theme(colors.purple.600);
  --chart-ds-discovery-bold: theme(colors.purple.800);
  --chart-ds-discovery-bold-hovered: theme(colors.purple.700);
  --chart-ds-info: theme(colors.blue.600);
  --chart-ds-info-hovered: theme(colors.blue.700);
  --chart-ds-info-bold: theme(colors.blue.800);
  --chart-ds-info-bold-hovered: theme(colors.blue.900);
}
@layer base {
[data-theme='dark'] {
  --theme: 'dark';
  --text-color-ds-default: theme(colors.neutral.200);
  --text-color-ds-accent-lime: theme(colors.lime.300);
  --text-color-ds-accent-lime-bolder: theme(colors.lime.200);
  --text-color-ds-accent-red: theme(colors.red.300);
  --text-color-ds-accent-red-bolder: theme(colors.red.200);
  --text-color-ds-accent-orange: theme(colors.orange.300);
  --text-color-ds-accent-orange-bolder: theme(colors.orange.200);
  --text-color-ds-accent-yellow: theme(colors.yellow.300);
  --text-color-ds-accent-yellow-bolder: theme(colors.yellow.200);
  --text-color-ds-accent-green: theme(colors.green.300);
  --text-color-ds-accent-green-bolder: theme(colors.green.200);
  --text-color-ds-accent-teal: theme(colors.teal.300);
  --text-color-ds-accent-teal-bolder: theme(colors.teal.200);
  --text-color-ds-accent-blue: theme(colors.blue.300);
  --text-color-ds-accent-blue-bolder: theme(colors.blue.200);
  --text-color-ds-accent-violet: theme(colors.violet.300);
  --text-color-ds-accent-violet-bolder: theme(colors.violet.200);
  --text-color-ds-accent-magenta: theme(colors.fuchsia.300);
  --text-color-ds-accent-magenta-bolder: theme(colors.fuchsia.200);
  --text-color-ds-accent-neutral: theme(colors.neutral.200);
  --text-color-ds-accent-neutral-bolder: theme(colors.neutral.100);
  --text-color-ds-accent-gray: theme(colors.gray.200);
  --text-color-ds-accent-gray-bolder: theme(colors.gray.100);
  --text-color-ds-disabled: theme(colors.neutral.700);
  --text-color-ds-inverse: theme(colors.neutral.800);
  --text-color-ds-primary: theme(colors.violet.700);
  --text-color-ds-selected: theme(colors.violet.500);
  --text-color-ds-brand: theme(colors.violet.400);
  --text-color-ds-destructive: theme(colors.red.300);
  --text-color-ds-warning: theme(colors.orange.300);
  --text-color-ds-warning-inverse: theme(colors.neutral.900);
  --text-color-ds-success: theme(colors.green.300);
  --text-color-ds-discovery: theme(colors.purple.300);
  --text-color-ds-info: theme(colors.blue.300);
  --text-color-ds-subtle: theme(colors.neutral.400);
  --text-color-ds-subtlest: theme(colors.neutral.400);
  --text-color-ds-link: theme(colors.teal.400);
  --text-color-ds-link-pressed: theme(colors.teal.300);
  --text-color-ds-link-visited: theme(colors.neutral.400);
  --text-color-ds-link-visited-pressed: theme(colors.neutral.300);
  --fill-ds-icon: theme(colors.neutral.50);
  --fill-ds-icon-accent-lime: theme(colors.lime.500);
  --fill-ds-icon-accent-red: theme(colors.red.600);
  --fill-ds-icon-accent-orange: theme(colors.orange.500);
  --fill-ds-icon-accent-yellow: theme(colors.yellow.300);
  --fill-ds-icon-accent-green: theme(colors.green.500);
  --fill-ds-icon-accent-teal: theme(colors.teal.500);
  --fill-ds-icon-accent-blue: theme(colors.blue.500);
  --fill-ds-icon-accent-violet: theme(colors.violet.500);
  --fill-ds-icon-accent-fuchsia: theme(colors.fuchsia.500);
  --fill-ds-icon-accent-gray: theme(colors.neutral.600);
  --fill-ds-icon-disabled: theme(colors.neutral.700);
  --fill-ds-icon-inverse: theme(colors.neutral.800);
  --fill-ds-icon-selected: theme(colors.violet.500);
  --fill-ds-icon-brand: theme(colors.violet.400);
  --fill-ds-icon-destructive: theme(colors.red.500);
  --fill-ds-icon-warning: theme(colors.orange.300);
  --fill-ds-icon-warning-inverse: theme(colors.neutral.100);
  --fill-ds-icon-success: theme(colors.green.500);
  --fill-ds-icon-discovery: theme(colors.purple.500);
  --fill-ds-icon-info: theme(colors.blue.500);
  --fill-ds-icon-subtlest: theme(colors.neutral.200);
  --fill-ds-icon-subtle: theme(colors.neutral.100);
  --border-color-ds-default: theme(colors.neutral.700);
  --border-color-ds-accent-lime: theme(colors.lime.500);
  --border-color-ds-accent-red: theme(colors.red.500);
  --border-color-ds-accent-orange: theme(colors.orange.500);
  --border-color-ds-accent-yellow: theme(colors.yellow.500);
  --border-color-ds-accent-green: theme(colors.green.500);
  --border-color-ds-accent-teal: theme(colors.teal.500);
  --border-color-ds-accent-blue: theme(colors.blue.500);
  --border-color-ds-accent-violet: theme(colors.violet.500);
  --border-color-ds-accent-fuchsia: theme(colors.fuchsia.500);
  --border-color-ds-accent-gray: theme(colors.neutral.600);
  --border-color-ds-disabled: theme(colors.neutral.700);
  --border-color-ds-focused: theme(colors.violet.300);
  --border-color-ds-input: theme(colors.neutral.600);
  --border-color-ds-inverse: theme(colors.neutral.950);
  --border-color-ds-selected: theme(colors.violet.500);
  --border-color-ds-brand: theme(colors.violet.400);
  --border-color-ds-destructive: theme(colors.red.500);
  --border-color-ds-warning: theme(colors.orange.500);
  --border-color-ds-success: theme(colors.green.500);
  --border-color-ds-discovery: theme(colors.purple.500);
  --border-color-ds-info: theme(colors.blue.500);
  --border-color-ds-bold: theme(colors.neutral.600);
  --background-color-ds-accent-lime-subtlest: theme(colors.lime.950);
  --background-color-ds-accent-lime-subtlest-hovered: theme(colors.lime.900);
  --background-color-ds-accent-lime-subtlest-pressed: theme(colors.lime.900);
  --background-color-ds-accent-lime-subtler: theme(colors.lime.950);
  --background-color-ds-accent-lime-subtler-hovered: theme(colors.lime.900);
  --background-color-ds-accent-lime-subtler-pressed: theme(colors.lime.800);
  --background-color-ds-accent-lime-subtle: theme(colors.lime.800);
  --background-color-ds-accent-lime-subtle-hovered: theme(colors.lime.900);
  --background-color-ds-accent-lime-subtle-pressed: theme(colors.lime.950);
  --background-color-ds-accent-lime-bolder: theme(colors.lime.500);
  --background-color-ds-accent-lime-bolder-hovered: theme(colors.lime.400);
  --background-color-ds-accent-lime-bolder-pressed: theme(colors.lime.300);
  --background-color-ds-accent-red-subtlest: theme(colors.red.950);
  --background-color-ds-accent-red-subtlest-hovered: theme(colors.red.950);
  --background-color-ds-accent-red-subtlest-pressed: theme(colors.red.900);
  --background-color-ds-accent-red-subtler: theme(colors.red.950);
  --background-color-ds-accent-red-subtler-hovered: theme(colors.red.900);
  --background-color-ds-accent-red-subtler-pressed: theme(colors.red.900);
  --background-color-ds-accent-red-subtle: theme(colors.red.900);
  --background-color-ds-accent-red-subtle-hovered: theme(colors.red.900);
  --background-color-ds-accent-red-subtle-pressed: theme(colors.red.950);
  --background-color-ds-accent-red-bolder: theme(colors.red.500);
  --background-color-ds-accent-red-bolder-hovered: theme(colors.red.400);
  --background-color-ds-accent-red-bolder-pressed: theme(colors.red.300);
  --background-color-ds-accent-orange-subtlest: theme(colors.orange.950);
  --background-color-ds-accent-orange-subtlest-hovered: theme(colors.orange.900);
  --background-color-ds-accent-orange-subtlest-pressed: theme(colors.orange.900);
  --background-color-ds-accent-orange-subtler: theme(colors.orange.950);
  --background-color-ds-accent-orange-subtler-hovered: theme(colors.orange.900);
  --background-color-ds-accent-orange-subtler-pressed: theme(colors.orange.900);
  --background-color-ds-accent-orange-subtle: theme(colors.orange.900);
  --background-color-ds-accent-orange-subtle-hovered: theme(colors.orange.900);
  --background-color-ds-accent-orange-subtle-pressed: theme(colors.orange.950);
  --background-color-ds-accent-orange-bolder: theme(colors.orange.500);
  --background-color-ds-accent-orange-bolder-hovered: theme(colors.orange.400);
  --background-color-ds-accent-orange-bolder-pressed: theme(colors.orange.300);
  --background-color-ds-accent-yellow-subtlest: theme(colors.yellow.950);
  --background-color-ds-accent-yellow-subtlest-hovered: theme(colors.yellow.900);
  --background-color-ds-accent-yellow-subtlest-pressed: theme(colors.yellow.900);
  --background-color-ds-accent-yellow-subtler: theme(colors.yellow.950);
  --background-color-ds-accent-yellow-subtler-hovered: theme(colors.yellow.900);
  --background-color-ds-accent-yellow-subtler-pressed: theme(colors.yellow.900);
  --background-color-ds-accent-yellow-subtle: theme(colors.yellow.900);
  --background-color-ds-accent-yellow-subtle-hovered: theme(colors.yellow.900);
  --background-color-ds-accent-yellow-subtle-pressed: theme(colors.yellow.950);
  --background-color-ds-accent-yellow-bolder: theme(colors.yellow.500);
  --background-color-ds-accent-yellow-bolder-hovered: theme(colors.yellow.400);
  --background-color-ds-accent-yellow-bolder-pressed: theme(colors.yellow.300);
  --background-color-ds-accent-green-subtlest: theme(colors.green.950);
  --background-color-ds-accent-green-subtlest-hovered: theme(colors.green.900);
  --background-color-ds-accent-green-subtlest-pressed: theme(colors.green.900);
  --background-color-ds-accent-green-subtler: theme(colors.green.950);
  --background-color-ds-accent-green-subtler-hovered: theme(colors.green.900);
  --background-color-ds-accent-green-subtler-pressed: theme(colors.green.900);
  --background-color-ds-accent-green-subtle: theme(colors.green.900);
  --background-color-ds-accent-green-subtle-hovered: theme(colors.green.900);
  --background-color-ds-accent-green-subtle-pressed: theme(colors.green.950);
  --background-color-ds-accent-green-bolder: theme(colors.green.500);
  --background-color-ds-accent-green-bolder-hovered: theme(colors.green.400);
  --background-color-ds-accent-green-bolder-pressed: theme(colors.green.300);
  --background-color-ds-accent-teal-subtlest: theme(colors.teal.950);
  --background-color-ds-accent-teal-subtlest-hovered: theme(colors.teal.900);
  --background-color-ds-accent-teal-subtlest-pressed: theme(colors.teal.900);
  --background-color-ds-accent-teal-subtler: theme(colors.teal.950);
  --background-color-ds-accent-teal-subtler-hovered: theme(colors.teal.900);
  --background-color-ds-accent-teal-subtler-pressed: theme(colors.teal.900);
  --background-color-ds-accent-teal-subtle: theme(colors.teal.900);
  --background-color-ds-accent-teal-subtle-hovered: theme(colors.teal.900);
  --background-color-ds-accent-teal-subtle-pressed: theme(colors.teal.950);
  --background-color-ds-accent-teal-bolder: theme(colors.teal.500);
  --background-color-ds-accent-teal-bolder-hovered: theme(colors.teal.400);
  --background-color-ds-accent-teal-bolder-pressed: theme(colors.teal.300);
  --background-color-ds-accent-blue-subtlest: theme(colors.blue.950);
  --background-color-ds-accent-blue-subtlest-hovered: theme(colors.blue.950);
  --background-color-ds-accent-blue-subtlest-pressed: theme(colors.blue.900);
  --background-color-ds-accent-blue-subtler: theme(colors.blue.950);
  --background-color-ds-accent-blue-subtler-hovered: theme(colors.blue.900);
  --background-color-ds-accent-blue-subtler-pressed: theme(colors.blue.900);
  --background-color-ds-accent-blue-subtle: theme(colors.blue.900);
  --background-color-ds-accent-blue-subtle-hovered: theme(colors.blue.900);
  --background-color-ds-accent-blue-subtle-pressed: theme(colors.blue.950);
  --background-color-ds-accent-blue-bolder: theme(colors.blue.500);
  --background-color-ds-accent-blue-bolder-hovered: theme(colors.blue.400);
  --background-color-ds-accent-blue-bolder-pressed: theme(colors.blue.300);
  --background-color-ds-accent-violet-subtlest: theme(colors.violet.950);
  --background-color-ds-accent-violet-subtlest-hovered: theme(colors.violet.900);
  --background-color-ds-accent-violet-subtlest-pressed: theme(colors.violet.800);
  --background-color-ds-accent-violet-subtler: theme(colors.violet.900);
  --background-color-ds-accent-violet-subtler-hovered: theme(colors.violet.800);
  --background-color-ds-accent-violet-subtler-pressed: theme(colors.violet.700);
  --background-color-ds-accent-violet-subtle: theme(colors.violet.700);
  --background-color-ds-accent-violet-subtle-hovered: theme(colors.violet.600);
  --background-color-ds-accent-violet-subtle-pressed: theme(colors.violet.500);
  --background-color-ds-accent-violet-bolder: theme(colors.violet.500);
  --background-color-ds-accent-violet-bolder-hovered: theme(colors.violet.400);
  --background-color-ds-accent-violet-bolder-pressed: theme(colors.violet.300);
  --background-color-ds-accent-magenta-subtlest: theme(colors.fuchsia.950);
  --background-color-ds-accent-magenta-subtlest-hovered: theme(colors.fuchsia.900);
  --background-color-ds-accent-magenta-subtlest-pressed: theme(colors.fuchsia.900);
  --background-color-ds-accent-magenta-subtler: theme(colors.fuchsia.950);
  --background-color-ds-accent-magenta-subtler-hovered: theme(colors.fuchsia.900);
  --background-color-ds-accent-magenta-subtler-pressed: theme(colors.fuchsia.900);
  --background-color-ds-accent-magenta-subtle: theme(colors.fuchsia.900);
  --background-color-ds-accent-magenta-subtle-hovered: theme(colors.fuchsia.900);
  --background-color-ds-accent-magenta-subtle-pressed: theme(colors.fuchsia.950);
  --background-color-ds-accent-magenta-bolder: theme(colors.fuchsia.500);
  --background-color-ds-accent-magenta-bolder-hovered: theme(colors.fuchsia.400);
  --background-color-ds-accent-magenta-bolder-pressed: theme(colors.fuchsia.300);
  --background-color-ds-accent-gray-subtlest: theme(colors.neutral.800);
  --background-color-ds-accent-gray-subtlest-hovered: theme(colors.neutral.900);
  --background-color-ds-accent-gray-subtlest-pressed: theme(colors.neutral.950);
  --background-color-ds-accent-gray-subtler: theme(colors.neutral.700);
  --background-color-ds-accent-gray-subtler-hovered: theme(colors.neutral.800);
  --background-color-ds-accent-gray-subtler-pressed: theme(colors.neutral.900);
  --background-color-ds-accent-gray-subtle: theme(colors.neutral.600);
  --background-color-ds-accent-gray-subtle-hovered: theme(colors.neutral.700);
  --background-color-ds-accent-gray-subtle-pressed: theme(colors.neutral.800);
  --background-color-ds-accent-gray-bolder: theme(colors.neutral.800);
  --background-color-ds-accent-gray-bolder-hovered: theme(colors.neutral.900);
  --background-color-ds-accent-gray-bolder-pressed: theme(colors.neutral.950);
  --background-color-ds-lime-bold: theme(colors.lime.600);
  --background-color-ds-lime-bold-hovered: theme(colors.lime.500);
  --background-color-ds-lime-bolder: theme(colors.lime.500);
  --background-color-ds-lime-bolder-hovered: theme(colors.lime.400);
  --background-color-ds-lime-boldest: theme(colors.lime.400);
  --background-color-ds-lime-boldest-hovered: theme(colors.lime.300);
  --background-color-ds-neutral: theme(colors.neutral.800);
  --background-color-ds-neutral-hovered: theme(colors.neutral.700);
  --background-color-ds-neutral-pressed: theme(colors.neutral.600);
  --background-color-ds-neutral-subtle: transparent;
  --background-color-ds-neutral-subtle-hovered: theme(colors.neutral.950);
  --background-color-ds-neutral-subtle-pressed: theme(colors.neutral.900);
  --background-color-ds-neutral-bold: theme(colors.neutral.300);
  --background-color-ds-neutral-bold-hovered: theme(colors.neutral.400);
  --background-color-ds-neutral-bold-pressed: theme(colors.neutral.500);
  --background-color-ds-red-bold: theme(colors.red.700);
  --background-color-ds-red-bold-hovered: theme(colors.red.600);
  --background-color-ds-red-bolder: theme(colors.red.600);
  --background-color-ds-red-bolder-hovered: theme(colors.red.500);
  --background-color-ds-red-boldest: theme(colors.red.400);
  --background-color-ds-red-boldest-hovered: theme(colors.red.300);
  --background-color-ds-orange-bold: theme(colors.orange.600);
  --background-color-ds-orange-bold-hovered: theme(colors.orange.500);
  --background-color-ds-orange-bolder: theme(colors.orange.500);
  --background-color-ds-orange-bolder-hovered: theme(colors.orange.400);
  --background-color-ds-orange-boldest: theme(colors.orange.300);
  --background-color-ds-orange-boldest-hovered: theme(colors.orange.200);
  --background-color-ds-yellow-bold: theme(colors.yellow.600);
  --background-color-ds-yellow-bold-hovered: theme(colors.yellow.500);
  --background-color-ds-yellow-bolder: theme(colors.yellow.500);
  --background-color-ds-yellow-bolder-hovered: theme(colors.yellow.400);
  --background-color-ds-yellow-boldest: theme(colors.yellow.400);
  --background-color-ds-yellow-boldest-hovered: theme(colors.yellow.300);
  --background-color-ds-green-bold: theme(colors.green.600);
  --background-color-ds-green-bold-hovered: theme(colors.green.500);
  --background-color-ds-green-bolder: theme(colors.green.500);
  --background-color-ds-green-bolder-hovered: theme(colors.green.400);
  --background-color-ds-green-boldest: theme(colors.green.400);
  --background-color-ds-green-boldest-hovered: theme(colors.green.300);
  --background-color-ds-teal-bold: theme(colors.teal.600);
  --background-color-ds-teal-bold-hovered: theme(colors.teal.500);
  --background-color-ds-teal-bolder: theme(colors.teal.500);
  --background-color-ds-teal-bolder-hovered: theme(colors.teal.400);
  --background-color-ds-teal-boldest: theme(colors.teal.400);
  --background-color-ds-teal-boldest-hovered: theme(colors.teal.300);
  --background-color-ds-blue-bold: theme(colors.blue.700);
  --background-color-ds-blue-bold-hovered: theme(colors.blue.600);
  --background-color-ds-blue-bolder: theme(colors.blue.600);
  --background-color-ds-blue-bolder-hovered: theme(colors.blue.500);
  --background-color-ds-blue-boldest: theme(colors.blue.400);
  --background-color-ds-blue-boldest-hovered: theme(colors.blue.300);
  --background-color-ds-violet-bold: theme(colors.violet.700);
  --background-color-ds-violet-bold-hovered: theme(colors.violet.600);
  --background-color-ds-violet-bolder: theme(colors.violet.600);
  --background-color-ds-violet-bolder-hovered: theme(colors.violet.500);
  --background-color-ds-violet-boldest: theme(colors.violet.400);
  --background-color-ds-violet-boldest-hovered: theme(colors.violet.300);
  --background-color-ds-magenta-bold: theme(colors.fuchsia.700);
  --background-color-ds-magenta-bold-hovered: theme(colors.fuchsia.600);
  --background-color-ds-magenta-bolder: theme(colors.fuchsia.600);
  --background-color-ds-magenta-bolder-hovered: theme(colors.fuchsia.500);
  --background-color-ds-magenta-boldest: theme(colors.fuchsia.400);
  --background-color-ds-magenta-boldest-hovered: theme(colors.fuchsia.300);
  --background-color-ds-gray-bold: theme(colors.neutral.700);
  --background-color-ds-gray-bold-hovered: theme(colors.neutral.800);
  --background-color-ds-gray-bolder: theme(colors.neutral.700);
  --background-color-ds-gray-bolder-hovered: theme(colors.neutral.800);
  --background-color-ds-gray-boldest: theme(colors.neutral.900);
  --background-color-ds-gray-boldest-hovered: theme(colors.neutral.950);
  --background-color-ds-brand: theme(colors.violet.600);
  --background-color-ds-brand-hovered: theme(colors.violet.500);
  --background-color-ds-brand-subtlest: theme(colors.violet.950);
  --background-color-ds-brand-subtlest-hovered: theme(colors.violet.950);
  --background-color-ds-brand-subtlest-pressed: theme(colors.violet.900);
  --background-color-ds-brand-bold: theme(colors.violet.500);
  --background-color-ds-brand-bold-hovered: theme(colors.violet.400);
  --background-color-ds-brand-bold-pressed: theme(colors.violet.300);
  --background-color-ds-brand-boldest: theme(colors.violet.200);
  --background-color-ds-brand-boldest-hovered: theme(colors.violet.300);
  --background-color-ds-brand-boldest-pressed: theme(colors.violet.300);
  --background-color-ds-destructive: theme(colors.red.950);
  --background-color-ds-destructive-hovered: theme(colors.red.950);
  --background-color-ds-destructive-bold: theme(colors.red.500);
  --background-color-ds-destructive-bold-hovered: theme(colors.red.400);
  --background-color-ds-destructive-bold-pressed: theme(colors.red.300);
  --background-color-ds-destructive-pressed: theme(colors.red.900);
  --background-color-ds-warning: theme(colors.orange.950);
  --background-color-ds-warning-hovered: theme(colors.orange.950);
  --background-color-ds-warning-bold: theme(colors.orange.400);
  --background-color-ds-warning-bold-hovered: theme(colors.orange.500);
  --background-color-ds-warning-bold-pressed: theme(colors.orange.600);
  --background-color-ds-warning-pressed: theme(colors.orange.900);
  --background-color-ds-success: theme(colors.green.950);
  --background-color-ds-success-hovered: theme(colors.green.950);
  --background-color-ds-success-bold: theme(colors.green.500);
  --background-color-ds-success-bold-hovered: theme(colors.green.400);
  --background-color-ds-success-bold-pressed: theme(colors.green.300);
  --background-color-ds-success-pressed: theme(colors.green.900);
  --background-color-ds-discovery: theme(colors.purple.950);
  --background-color-ds-discovery-hovered: theme(colors.purple.950);
  --background-color-ds-discovery-bold: theme(colors.purple.500);
  --background-color-ds-discovery-bold-hovered: theme(colors.purple.400);
  --background-color-ds-discovery-bold-pressed: theme(colors.purple.300);
  --background-color-ds-discovery-pressed: theme(colors.purple.900);
  --background-color-ds-info: theme(colors.blue.950);
  --background-color-ds-info-hovered: theme(colors.blue.950);
  --background-color-ds-info-bold: theme(colors.blue.500);
  --background-color-ds-info-bold-hovered: theme(colors.blue.400);
  --background-color-ds-info-bold-pressed: theme(colors.blue.300);
  --background-color-ds-info-pressed: theme(colors.blue.900);
  --background-color-ds-disabled: theme(colors.neutral.700);
  --background-color-ds-input: theme(colors.neutral.800);
  --background-color-ds-input-hovered: theme(colors.neutral.900);
  --background-color-ds-input-pressed: theme(colors.neutral.800);
  --background-color-ds-inverse-subtle: #FFFFFF29;
  --background-color-ds-inverse-subtle-hovered: #FFFFFF3D;
  --background-color-ds-inverse-subtle-pressed: #FFFFFF52;
  --background-color-ds-primary: theme(colors.violet.950);
  --background-color-ds-primary-hovered: theme(colors.violet.950);
  --background-color-ds-primary-pressed: theme(colors.violet.900);
  --background-color-ds-primary-bold: theme(colors.violet.500);
  --background-color-ds-primary-bold-hovered: theme(colors.violet.400);
  --background-color-ds-primary-bold-pressed: theme(colors.violet.300);
  --background-color-ds-primary-boldest: theme(colors.violet.200);
  --background-color-ds-primary-boldest-hovered: theme(colors.violet.300);
  --background-color-ds-primary-boldest-pressed: theme(colors.violet.300);
  --background-color-ds-selected: theme(colors.violet.950);
  --background-color-ds-selected-hovered: theme(colors.violet.900);
  --background-color-ds-selected-pressed: theme(colors.violet.800);
  --background-color-ds-selected-bold: theme(colors.violet.600);
  --background-color-ds-selected-bold-hovered: theme(colors.violet.500);
  --background-color-ds-selected-bold-pressed: theme(colors.violet.500);
  --background-color-ds-skeleton: color-mix(in srgb, theme(colors.neutral.800) 50%, theme(colors.neutral.700));
  --background-color-ds-skeleton-subtle: color-mix(in srgb, theme(colors.neutral.900) 70%, theme(colors.neutral.800));
  --background-color-ds-elevation-surface: theme(colors.neutral.900);
  --background-color-ds-elevation-surface-sunken: theme(colors.neutral.950);
  --background-color-ds-elevation-surface-hovered: color-mix(in srgb, theme(colors.neutral.800) 70%, theme(colors.neutral.700));
  --background-color-ds-elevation-surface-pressed: color-mix(in srgb, theme(colors.neutral.800) 50%, theme(colors.neutral.700));
  --background-color-ds-elevation-surface-raised: theme(colors.neutral.800);
  --background-color-ds-elevation-surface-raised-hovered: color-mix(in srgb, theme(colors.neutral.700) 70%, theme(colors.neutral.600));
  --background-color-ds-elevation-surface-raised-pressed: color-mix(in srgb, theme(colors.neutral.700) 50%, theme(colors.neutral.600));
  --background-color-ds-elevation-surface-overlay: color-mix(in srgb, theme(colors.neutral.600) 60%, transparent);
  --background-color-ds-elevation-surface-overlay-hovered: color-mix(in srgb, color-mix(in srgb, theme(colors.neutral.600) 70%, theme(colors.neutral.500)) 50%, transparent);
  --background-color-ds-elevation-surface-overlay-pressed: color-mix(in srgb, theme(colors.neutral.500) 60%, transparent);
  --shadow-ds-elevation-overflow: 0px 0px 12px rgba(1, 4, 4, 0.56), 0px 0px 1px rgba(1, 4, 4, 0.5);
  --shadow-ds-elevation-overflow-perimeter: #01040480;
  --shadow-ds-elevation-overflow-spread: #0104048f;
  --shadow-ds-elevation-overlay: 0px 8px 12px rgba(1, 4, 4, 0.36), 0px 0px 1px rgba(1, 4, 4, 0.5);
  --shadow-ds-elevation-raised: 0px 1px 1px rgba(1, 4, 4, 0.5), 0px 0px 1px rgba(1, 4, 4, 0.5);
  --chart-ds-categorical-1: theme(colors.blue.500);
  --chart-ds-categorical-1-hovered: theme(colors.blue.400);
  --chart-ds-categorical-2: theme(colors.lime.400);
  --chart-ds-categorical-2-hovered: theme(colors.lime.300);
  --chart-ds-categorical-3: theme(colors.violet.400);
  --chart-ds-categorical-3-hovered: theme(colors.violet.300);
  --chart-ds-categorical-4: theme(colors.orange.400);
  --chart-ds-categorical-4-hovered: theme(colors.orange.300);
  --chart-ds-categorical-5: theme(colors.blue.300);
  --chart-ds-categorical-5-hovered: theme(colors.blue.200);
  --chart-ds-categorical-6: theme(colors.violet.300);
  --chart-ds-categorical-6-hovered: theme(colors.violet.200);
  --chart-ds-categorical-7: theme(colors.teal.500);
  --chart-ds-categorical-7-hovered: theme(colors.teal.400);
  --chart-ds-categorical-8: theme(colors.orange.600);
  --chart-ds-categorical-8-hovered: theme(colors.orange.500);
  --chart-ds-lime-bold: theme(colors.lime.500);
  --chart-ds-lime-bold-hovered: theme(colors.lime.400);
  --chart-ds-lime-bolder: theme(colors.lime.400);
  --chart-ds-lime-bolder-hovered: theme(colors.lime.300);
  --chart-ds-lime-boldest: theme(colors.lime.300);
  --chart-ds-lime-boldest-hovered: theme(colors.lime.200);
  --chart-ds-neutral: theme(colors.neutral.600);
  --chart-ds-neutral-hovered: theme(colors.neutral.700);
  --chart-ds-red-bold: theme(colors.red.600);
  --chart-ds-red-bold-hovered: theme(colors.red.500);
  --chart-ds-red-bolder: theme(colors.red.500);
  --chart-ds-red-bolder-hovered: theme(colors.red.400);
  --chart-ds-red-boldest: theme(colors.red.300);
  --chart-ds-red-boldest-hovered: theme(colors.red.200);
  --chart-ds-orange-bold: theme(colors.orange.500);
  --chart-ds-orange-bold-hovered: theme(colors.orange.400);
  --chart-ds-orange-bolder: theme(colors.orange.400);
  --chart-ds-orange-bolder-hovered: theme(colors.orange.300);
  --chart-ds-orange-boldest: theme(colors.orange.200);
  --chart-ds-orange-boldest-hovered: theme(colors.orange.100);
  --chart-ds-yellow-bold: theme(colors.yellow.500);
  --chart-ds-yellow-bold-hovered: theme(colors.yellow.400);
  --chart-ds-yellow-bolder: theme(colors.yellow.400);
  --chart-ds-yellow-bolder-hovered: theme(colors.yellow.300);
  --chart-ds-yellow-boldest: theme(colors.yellow.300);
  --chart-ds-yellow-boldest-hovered: theme(colors.yellow.200);
  --chart-ds-green-bold: theme(colors.green.500);
  --chart-ds-green-bold-hovered: theme(colors.green.400);
  --chart-ds-green-bolder: theme(colors.green.400);
  --chart-ds-green-bolder-hovered: theme(colors.green.300);
  --chart-ds-green-boldest: theme(colors.green.300);
  --chart-ds-green-boldest-hovered: theme(colors.green.200);
  --chart-ds-teal-bold: theme(colors.teal.500);
  --chart-ds-teal-bold-hovered: theme(colors.teal.400);
  --chart-ds-teal-bolder: theme(colors.teal.400);
  --chart-ds-teal-bolder-hovered: theme(colors.teal.300);
  --chart-ds-teal-boldest: theme(colors.teal.300);
  --chart-ds-teal-boldest-hovered: theme(colors.teal.200);
  --chart-ds-blue-bold: theme(colors.blue.600);
  --chart-ds-blue-bold-hovered: theme(colors.blue.500);
  --chart-ds-blue-bolder: theme(colors.blue.500);
  --chart-ds-blue-bolder-hovered: theme(colors.blue.400);
  --chart-ds-blue-boldest: theme(colors.blue.300);
  --chart-ds-blue-boldest-hovered: theme(colors.blue.200);
  --chart-ds-violet-bold: theme(colors.violet.600);
  --chart-ds-violet-bold-hovered: theme(colors.violet.500);
  --chart-ds-violet-bolder: theme(colors.violet.500);
  --chart-ds-violet-bolder-hovered: theme(colors.violet.400);
  --chart-ds-violet-boldest: theme(colors.violet.300);
  --chart-ds-violet-boldest-hovered: theme(colors.violet.200);
  --chart-ds-magenta-bold: theme(colors.fuchsia.600);
  --chart-ds-magenta-bold-hovered: theme(colors.fuchsia.500);
  --chart-ds-magenta-bolder: theme(colors.fuchsia.500);
  --chart-ds-magenta-bolder-hovered: theme(colors.fuchsia.400);
  --chart-ds-magenta-boldest: theme(colors.fuchsia.300);
  --chart-ds-magenta-boldest-hovered: theme(colors.fuchsia.200);
  --chart-ds-gray-bold: theme(colors.neutral.600);
  --chart-ds-gray-bold-hovered: theme(colors.neutral.700);
  --chart-ds-gray-bolder: theme(colors.neutral.600);
  --chart-ds-gray-bolder-hovered: theme(colors.neutral.700);
  --chart-ds-gray-boldest: theme(colors.neutral.800);
  --chart-ds-gray-boldest-hovered: theme(colors.neutral.900);
  --chart-ds-brand: theme(colors.violet.500);
  --chart-ds-brand-hovered: theme(colors.violet.400);
  --chart-ds-destructive: theme(colors.red.600);
  --chart-ds-destructive-hovered: theme(colors.red.500);
  --chart-ds-destructive-bold: theme(colors.red.200);
  --chart-ds-destructive-bold-hovered: theme(colors.red.300);
  --chart-ds-warning: theme(colors.orange.500);
  --chart-ds-warning-hovered: theme(colors.orange.400);
  --chart-ds-warning-bold: theme(colors.orange.300);
  --chart-ds-warning-bold-hovered: theme(colors.orange.200);
  --chart-ds-success: theme(colors.green.500);
  --chart-ds-success-hovered: theme(colors.green.400);
  --chart-ds-success-bold: theme(colors.green.300);
  --chart-ds-success-bold-hovered: theme(colors.green.200);
  --chart-ds-discovery: theme(colors.purple.500);
  --chart-ds-discovery-hovered: theme(colors.purple.400);
  --chart-ds-discovery-bold: theme(colors.purple.300);
  --chart-ds-discovery-bold-hovered: theme(colors.purple.200);
  --chart-ds-info: theme(colors.blue.500);
  --chart-ds-info-hovered: theme(colors.blue.400);
  --chart-ds-info-bold: theme(colors.blue.300);
  --chart-ds-info-bold-hovered: theme(colors.blue.200);
}
}
