@import 'tailwindcss';
@import './theme.css';
@import './utility.css';
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

body {
  font-family: var(--font-nunito), system-ui, sans-serif;
  @apply antialiased;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.animate-blink {
  animation: blink 1s step-start infinite;
  display: inline-block;
}
