@import 'tailwindcss';
@import './theme.css';
@import './utility.css';
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *, [data-theme="dark"], [data-theme="dark"] *));

/* @theme {
  --text-*: initial;
} */