name: bundle size

on:
  pull_request:
    branches:
      - main

permissions:
  pull-requests: write
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

jobs:
  analyze:
    name: analyze
    uses: itsferdiardiansa/ci-toolbox/.github/workflows/bundle-size.yaml@main
    with:
      issue-number: ${{ github.event.pull_request.number }}
    secrets:
      GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}