name: test & coverage

on:
  push:
    branches:
      - main
      - 'feat/**'
      - 'fix/**'
      - 'hotfix/**'
  
  pull_request:
    branches:
      - main

concurrency: 
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

permissions:
  actions: read
  contents: read

jobs:
  pre-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup
        uses: ./.github/actions/setup-node

      - name: Type check
        run: pnpm type-check
      
      - name: Lint
        run: pnpm lint

  test:
    runs-on: ${{ matrix.os }}
    needs: [pre-test]
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        nodeVersion: [22, 23]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup
        uses: ./.github/actions/setup-node
        with:
          node-version: ${{ matrix.nodeVersion }}

      - name: Test
        run: pnpm test
  
  publish-coverage:
    runs-on: ubuntu-latest
    needs: [pre-test]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup
        uses: ./.github/actions/setup-node
        with:
          node-version: 22

      - name: Test with Coverage
        run: pnpm test:coverage

      - name: Upload coverage to Codecov
        if: github.event_name == 'pull_request' || (github.event_name == 'push' && github.ref == 'refs/heads/main')
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  done:
    runs-on: ubuntu-latest
    if: always()
    needs: [test]
    steps:
      - name: Report test status
        run: |
          echo "Test job result: ${{ needs.test.result }}"
          if [ "${{ needs.test.result }}" = "failure" ]; then
            echo "Some tests failed running."
            exit 1
          fi