name: test & coverage

on:
  push:
    branches:
      - main
      - 'feat/**'
      - 'fix/**'
      - 'hotfix/**'
  
  pull_request:
    branches:
      - main

concurrency: 
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

permissions:
  actions: read
  contents: read

jobs:
  test:
    name: test
    uses: itsferdiardiansa/ci-toolbox/.github/workflows/test.yaml@v1.0.0
    with:
      node-versions: '[22, 23]'
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}