name: visual regression

on:
  pull_request:
    branches:
      - main

permissions:
  pull-requests: write

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

jobs:
  chromatic:
    name: analyze visual regression
    runs-on: ubuntu-latest
    outputs:
      comment-body: ${{ steps.format_comment.outputs.body }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup
        uses: itsferdiardiansa/ci-toolbox/actions/setup-node@v1.0.0
        
      - name: Run Chromatic
        id: chromatic_run
        run: pnpm chromatic --project-token=${{ secrets.CHROMATIC_PROJECT_TOKEN }} --build-script-name=build
        env:
          CHROMATIC_PROJECT_TOKEN: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
        continue-on-error: true
      
      - name: Format comment body
        id: format_comment
        run: |
          {
            echo 'body<<EOF'
            echo "${{ steps.chromatic_run.outcome == 'success' && '### Visual Regression' || '' }}"
            echo "${{ steps.chromatic_run.outcome == 'success' && '<img src=\"https://media.makeameme.org/created/test-passed.jpg\" width=\"180\">' || '' }}"
            echo 'EOF'
          } >> "$GITHUB_OUTPUT"
          
  comment-pr:
    name: comment-pr
    runs-on: ubuntu-latest
    needs: chromatic
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Post or Update Comment
        uses: itsferdiardiansa/ci-toolbox/actions/post-comment@v1.0.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          issue-number: ${{ github.event.pull_request.number }}
          comment-id: visual-regression-report
          body: ${{ needs.chromatic.outputs.comment-body }}